<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>3D7C20C2-9735-4AE4-B4D3-DDFDA9BF3443</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>dotlessbeh-ar</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>dotlessbeh-ar</string>
		<string>alef-ar</string>
		<string>alef-ar.fina</string>
		<string>alefMadda-ar</string>
		<string>alefMadda-ar.fina</string>
		<string>dotlessbeh-ar.fina</string>
		<string>dotlessbeh-ar.medi</string>
		<string>dotlessbeh-ar.init</string>
		<string>beh-ar</string>
		<string>beh-ar.fina</string>
		<string>beh-ar.medi</string>
		<string>beh-ar.init</string>
		<string>teh-ar</string>
		<string>teh-ar.fina</string>
		<string>teh-ar.medi</string>
		<string>teh-ar.init</string>
		<string>theh-ar</string>
		<string>theh-ar.fina</string>
		<string>theh-ar.medi</string>
		<string>theh-ar.init</string>
		<string>jeem-ar</string>
		<string>jeem-ar.fina</string>
		<string>jeem-ar.medi</string>
		<string>jeem-ar.init</string>
		<string>tcheh-ar</string>
		<string>tcheh-ar.fina</string>
		<string>hah-ar</string>
		<string>hah-ar.fina</string>
		<string>hah-ar.medi</string>
		<string>hah-ar.init</string>
		<string>khah-ar</string>
		<string>khah-ar.fina</string>
		<string>khah-ar.medi</string>
		<string>khah-ar.init</string>
		<string>dal-ar</string>
		<string>dal-ar.fina</string>
		<string>thal-ar</string>
		<string>thal-ar.fina</string>
		<string>reh-ar</string>
		<string>reh-ar.fina</string>
		<string>zain-ar</string>
		<string>zain-ar.fina</string>
		<string>seen-ar</string>
		<string>seen-ar.fina</string>
		<string>seen-ar.medi</string>
		<string>seen-ar.init</string>
		<string>sheen-ar</string>
		<string>sheen-ar.fina</string>
		<string>sheen-ar.medi</string>
		<string>sheen-ar.init</string>
		<string>sad-ar</string>
		<string>sad-ar.fina</string>
		<string>sad-ar.medi</string>
		<string>sad-ar.init</string>
		<string>dad-ar</string>
		<string>dad-ar.fina</string>
		<string>dad-ar.medi</string>
		<string>dad-ar.init</string>
		<string>tah-ar</string>
		<string>tah-ar.fina</string>
		<string>tah-ar.medi</string>
		<string>tah-ar.init</string>
		<string>zah-ar</string>
		<string>zah-ar.fina</string>
		<string>zah-ar.medi</string>
		<string>zah-ar.init</string>
		<string>ain-ar</string>
		<string>ain-ar.fina</string>
		<string>ain-ar.medi</string>
		<string>ain-ar.init</string>
		<string>ghain-ar</string>
		<string>ghain-ar.fina</string>
		<string>ghain-ar.medi</string>
		<string>ghain-ar.init</string>
		<string>feh-ar</string>
		<string>feh-ar.fina</string>
		<string>feh-ar.medi</string>
		<string>feh-ar.init</string>
		<string>veh-ar</string>
		<string>veh-ar.fina</string>
		<string>veh-ar.medi</string>
		<string>veh-ar.init</string>
		<string>dotlessfeh-ar</string>
		<string>dotlessfeh-ar.fina</string>
		<string>dotlessfeh-ar.medi</string>
		<string>dotlessfeh-ar.init</string>
		<string>dotlessqaf-ar</string>
		<string>dotlessqaf-ar.fina</string>
		<string>qaf-ar</string>
		<string>qaf-ar.fina</string>
		<string>qaf-ar.medi</string>
		<string>qaf-ar.init</string>
		<string>kaf-ar</string>
		<string>kaf-ar.medi</string>
		<string>kaf-ar.init</string>
		<string>keheh-ar</string>
		<string>keheh-ar.fina</string>
		<string>gaf-ar</string>
		<string>gaf-ar.fina</string>
		<string>gaf-ar.medi</string>
		<string>gaf-ar.init</string>
		<string>lam-ar</string>
		<string>lam-ar.fina</string>
		<string>lam-ar.medi</string>
		<string>lam-ar.init</string>
		<string>meem-ar</string>
		<string>meem-ar.fina</string>
		<string>meem-ar.medi</string>
		<string>meem-ar.init</string>
		<string>noon-ar</string>
		<string>noon-ar.fina</string>
		<string>noon-ar.medi</string>
		<string>noon-ar.init</string>
		<string>noonghunna-ar</string>
		<string>noonghunna-ar.fina</string>
		<string>heh-ar</string>
		<string>heh-ar.fina</string>
		<string>heh-ar.medi</string>
		<string>heh-ar.init</string>
		<string>tehMarbuta-ar</string>
		<string>tehMarbuta-ar.fina</string>
		<string>waw-ar</string>
		<string>waw-ar.fina</string>
		<string>yeh-ar</string>
		<string>yeh-ar.fina</string>
		<string>yeh-ar.medi</string>
		<string>yeh-ar.init</string>
		<string>yeh-farsi</string>
		<string>yeh-farsi.fina</string>
		<string>lam_alef-ar</string>
		<string>lam_alef-ar.fina</string>
		<string>zero-ar</string>
		<string>one-ar</string>
		<string>two-ar</string>
		<string>three-ar</string>
		<string>four-ar</string>
		<string>five-ar</string>
		<string>six-ar</string>
		<string>seven-ar</string>
		<string>eight-ar</string>
		<string>nine-ar</string>
		<string>four-persian</string>
		<string>five-persian</string>
		<string>six-persian</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthspace</string>
		<string>lefttorightmark</string>
		<string>righttoleftmark</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>.null</string>
		<string>zeroWidthNoBreakSpace</string>
		<string>caron</string>
		<string>dotabove-ar</string>
		<string>dotbelow-ar</string>
		<string>dotcenter-ar</string>
		<string>twodotsverticalabove-ar</string>
		<string>twodotsverticalbelow-ar</string>
		<string>twodotshorizontalabove-ar</string>
		<string>twodotshorizontalbelow-ar</string>
		<string>threedotsdownabove-ar</string>
		<string>threedotsdownbelow-ar</string>
		<string>threedotsupabove-ar</string>
		<string>threedotsupbelow-ar</string>
		<string>fathatan-ar</string>
		<string>dammatan-ar</string>
		<string>kasratan-ar</string>
		<string>fatha-ar</string>
		<string>damma-ar</string>
		<string>kasra-ar</string>
		<string>shadda-ar</string>
		<string>sukun-ar</string>
		<string>shaddaFatha-ar</string>
		<string>shaddaFathatan-ar</string>
		<string>temp</string>
	</array>
</dict>
</plist>
