<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>3D7C20C2-9735-4AE4-B4D3-DDFDA9BF3443</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>dotlessbeh-ar</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>dotlessbeh-ar</string>
		<string>alef-ar</string>
		<string>dal-ar</string>
		<string>reh-ar</string>
		<string>seen-ar</string>
		<string>seen-ar.fina</string>
		<string>seen-ar.medi</string>
		<string>seen-ar.init</string>
		<string>sad-ar</string>
		<string>sad-ar.fina</string>
		<string>sad-ar.medi</string>
		<string>ain-ar.init</string>
		<string>dotlessfeh-ar</string>
		<string>dotlessfeh-ar.medi</string>
		<string>dotlessfeh-ar.init</string>
		<string>kaf-ar</string>
		<string>kaf-ar.init</string>
		<string>lam-ar</string>
		<string>noon-ar</string>
		<string>noonghunna-ar</string>
		<string>heh-ar</string>
		<string>heh-ar.init</string>
		<string>yeh-farsi</string>
		<string>dotcenter-ar</string>
		<string>temp</string>
	</array>
</dict>
</plist>
