<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>ae-ar</key>
	<string>ae-ar.glif</string>
	<key>ae-ar.fina</key>
	<string>ae-ar.fina.glif</string>
	<key>ae-ar.isol</key>
	<string>ae-ar.isol.glif</string>
	<key>afghani-ar</key>
	<string>afghani-ar.glif</string>
	<key>ain-ar</key>
	<string>ain-ar.glif</string>
	<key>ain-ar.fina</key>
	<string>ain-ar.fina.glif</string>
	<key>ain-ar.init</key>
	<string>ain-ar.init.glif</string>
	<key>ain-ar.isol</key>
	<string>ain-ar.isol.glif</string>
	<key>ain-ar.medi</key>
	<string>ain-ar.medi.glif</string>
	<key>alef-ar</key>
	<string>alef-ar.glif</string>
	<key>alef-ar.fina</key>
	<string>alef-ar.fina.glif</string>
	<key>alef-ar.fina.short</key>
	<string>alef-ar.fina.short.glif</string>
	<key>alef-ar.isol</key>
	<string>alef-ar.isol.glif</string>
	<key>alef-ar.short</key>
	<string>alef-ar.short.glif</string>
	<key>alefHamzaabove-ar</key>
	<string>alefH_amzaabove-ar.glif</string>
	<key>alefHamzaabove-ar.fina</key>
	<string>alefH_amzaabove-ar.fina.glif</string>
	<key>alefHamzaabove-ar.isol</key>
	<string>alefH_amzaabove-ar.isol.glif</string>
	<key>alefHamzabelow-ar</key>
	<string>alefH_amzabelow-ar.glif</string>
	<key>alefHamzabelow-ar.fina</key>
	<string>alefH_amzabelow-ar.fina.glif</string>
	<key>alefHamzabelow-ar.isol</key>
	<string>alefH_amzabelow-ar.isol.glif</string>
	<key>alefLamYehabove-ar</key>
	<string>alefL_amY_ehabove-ar.glif</string>
	<key>alefMadda-ar</key>
	<string>alefM_adda-ar.glif</string>
	<key>alefMadda-ar.fina</key>
	<string>alefM_adda-ar.fina.glif</string>
	<key>alefMadda-ar.isol</key>
	<string>alefM_adda-ar.isol.glif</string>
	<key>alefMaksura-ar</key>
	<string>alefM_aksura-ar.glif</string>
	<key>alefMaksura-ar.fina</key>
	<string>alefM_aksura-ar.fina.glif</string>
	<key>alefMaksura-ar.init</key>
	<string>alefM_aksura-ar.init.glif</string>
	<key>alefMaksura-ar.isol</key>
	<string>alefM_aksura-ar.isol.glif</string>
	<key>alefMaksura-ar.medi</key>
	<string>alefM_aksura-ar.medi.glif</string>
	<key>alefWasla-ar</key>
	<string>alefW_asla-ar.glif</string>
	<key>alefWasla-ar.fina</key>
	<string>alefW_asla-ar.fina.glif</string>
	<key>alefWasla-ar.isol</key>
	<string>alefW_asla-ar.isol.glif</string>
	<key>alefabove-ar</key>
	<string>alefabove-ar.glif</string>
	<key>alefbelow-ar</key>
	<string>alefbelow-ar.glif</string>
	<key>allah-ar</key>
	<string>allah-ar.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk-ar</key>
	<string>asterisk-ar.glif</string>
	<key>asteriskArt-ar</key>
	<string>asteriskA_rt-ar.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>beh-ar</key>
	<string>beh-ar.glif</string>
	<key>beh-ar.fina</key>
	<string>beh-ar.fina.glif</string>
	<key>beh-ar.init</key>
	<string>beh-ar.init.glif</string>
	<key>beh-ar.isol</key>
	<string>beh-ar.isol.glif</string>
	<key>beh-ar.medi</key>
	<string>beh-ar.medi.glif</string>
	<key>behDotless-ar</key>
	<string>behD_otless-ar.glif</string>
	<key>behDotless-ar.fina</key>
	<string>behD_otless-ar.fina.glif</string>
	<key>behDotless-ar.init</key>
	<string>behD_otless-ar.init.glif</string>
	<key>behDotless-ar.medi</key>
	<string>behD_otless-ar.medi.glif</string>
	<key>beh_alef-ar</key>
	<string>beh_alef-ar.glif</string>
	<key>beh_alef-ar.isol</key>
	<string>beh_alef-ar.isol.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma-ar</key>
	<string>comma-ar.glif</string>
	<key>dad-ar</key>
	<string>dad-ar.glif</string>
	<key>dad-ar.fina</key>
	<string>dad-ar.fina.glif</string>
	<key>dad-ar.init</key>
	<string>dad-ar.init.glif</string>
	<key>dad-ar.isol</key>
	<string>dad-ar.isol.glif</string>
	<key>dad-ar.medi</key>
	<string>dad-ar.medi.glif</string>
	<key>dal-ar</key>
	<string>dal-ar.glif</string>
	<key>dal-ar.fina</key>
	<string>dal-ar.fina.glif</string>
	<key>dal-ar.isol</key>
	<string>dal-ar.isol.glif</string>
	<key>dalRing-ar</key>
	<string>dalR_ing-ar.glif</string>
	<key>dalRing-ar.fina</key>
	<string>dalR_ing-ar.fina.glif</string>
	<key>dalRing-ar.isol</key>
	<string>dalR_ing-ar.isol.glif</string>
	<key>dalVinvertedabove-ar</key>
	<string>dalV_invertedabove-ar.glif</string>
	<key>dalVinvertedabove-ar.fina</key>
	<string>dalV_invertedabove-ar.fina.glif</string>
	<key>dalVinvertedabove-ar.isol</key>
	<string>dalV_invertedabove-ar.isol.glif</string>
	<key>damma-ar</key>
	<string>damma-ar.glif</string>
	<key>dammatan-ar</key>
	<string>dammatan-ar.glif</string>
	<key>ddal-ar</key>
	<string>ddal-ar.glif</string>
	<key>ddal-ar.fina</key>
	<string>ddal-ar.fina.glif</string>
	<key>ddal-ar.isol</key>
	<string>ddal-ar.isol.glif</string>
	<key>decimalseparator-ar</key>
	<string>decimalseparator-ar.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dotabove-ar</key>
	<string>dotabove-ar.glif</string>
	<key>dotbelow-ar</key>
	<string>dotbelow-ar.glif</string>
	<key>dotcenter-ar</key>
	<string>dotcenter-ar.glif</string>
	<key>dotlessbeh2-ar.init</key>
	<string>dotlessbeh2-ar.init.glif</string>
	<key>dotlesskaf-ar</key>
	<string>dotlesskaf-ar.glif</string>
	<key>dotlesskaf-ar.fina</key>
	<string>dotlesskaf-ar.fina.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>dul-ar</key>
	<string>dul-ar.glif</string>
	<key>dul-ar.fina</key>
	<string>dul-ar.fina.glif</string>
	<key>dul-ar.isol</key>
	<string>dul-ar.isol.glif</string>
	<key>e-ar</key>
	<string>e-ar.glif</string>
	<key>e-ar.fina</key>
	<string>e-ar.fina.glif</string>
	<key>e-ar.init</key>
	<string>e-ar.init.glif</string>
	<key>e-ar.isol</key>
	<string>e-ar.isol.glif</string>
	<key>e-ar.medi</key>
	<string>e-ar.medi.glif</string>
	<key>eight-ar</key>
	<string>eight-ar.glif</string>
	<key>eight-persian</key>
	<string>eight-persian.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>endofayah-ar</key>
	<string>endofayah-ar.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>fatha-ar</key>
	<string>fatha-ar.glif</string>
	<key>fathatan-ar</key>
	<string>fathatan-ar.glif</string>
	<key>feh-ar</key>
	<string>feh-ar.glif</string>
	<key>feh-ar.fina</key>
	<string>feh-ar.fina.glif</string>
	<key>feh-ar.init</key>
	<string>feh-ar.init.glif</string>
	<key>feh-ar.isol</key>
	<string>feh-ar.isol.glif</string>
	<key>feh-ar.medi</key>
	<string>feh-ar.medi.glif</string>
	<key>fehDotless-ar</key>
	<string>fehD_otless-ar.glif</string>
	<key>fehDotless-ar.fina</key>
	<string>fehD_otless-ar.fina.glif</string>
	<key>fehDotless-ar.init</key>
	<string>fehD_otless-ar.init.glif</string>
	<key>fehDotless-ar.medi</key>
	<string>fehD_otless-ar.medi.glif</string>
	<key>five-ar</key>
	<string>five-ar.glif</string>
	<key>five-persian</key>
	<string>five-persian.glif</string>
	<key>four-ar</key>
	<string>four-ar.glif</string>
	<key>four-persian</key>
	<string>four-persian.glif</string>
	<key>four-persian.urdu</key>
	<string>four-persian.urdu.glif</string>
	<key>fourdotsabove-ar</key>
	<string>fourdotsabove-ar.glif</string>
	<key>fourdotsbelow-ar</key>
	<string>fourdotsbelow-ar.glif</string>
	<key>fullstop-ar</key>
	<string>fullstop-ar.glif</string>
	<key>gaf-ar</key>
	<string>gaf-ar.glif</string>
	<key>gaf-ar.fina</key>
	<string>gaf-ar.fina.glif</string>
	<key>gaf-ar.init</key>
	<string>gaf-ar.init.glif</string>
	<key>gaf-ar.isol</key>
	<string>gaf-ar.isol.glif</string>
	<key>gaf-ar.medi</key>
	<string>gaf-ar.medi.glif</string>
	<key>ghain-ar</key>
	<string>ghain-ar.glif</string>
	<key>ghain-ar.fina</key>
	<string>ghain-ar.fina.glif</string>
	<key>ghain-ar.init</key>
	<string>ghain-ar.init.glif</string>
	<key>ghain-ar.isol</key>
	<string>ghain-ar.isol.glif</string>
	<key>ghain-ar.medi</key>
	<string>ghain-ar.medi.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>hah-ar</key>
	<string>hah-ar.glif</string>
	<key>hah-ar.fina</key>
	<string>hah-ar.fina.glif</string>
	<key>hah-ar.init</key>
	<string>hah-ar.init.glif</string>
	<key>hah-ar.isol</key>
	<string>hah-ar.isol.glif</string>
	<key>hah-ar.medi</key>
	<string>hah-ar.medi.glif</string>
	<key>hahHamzaabove-ar</key>
	<string>hahH_amzaabove-ar.glif</string>
	<key>hahHamzaabove-ar.fina</key>
	<string>hahH_amzaabove-ar.fina.glif</string>
	<key>hahHamzaabove-ar.init</key>
	<string>hahH_amzaabove-ar.init.glif</string>
	<key>hahHamzaabove-ar.isol</key>
	<string>hahH_amzaabove-ar.isol.glif</string>
	<key>hahHamzaabove-ar.medi</key>
	<string>hahH_amzaabove-ar.medi.glif</string>
	<key>hahThreedotsabove-ar</key>
	<string>hahT_hreedotsabove-ar.glif</string>
	<key>hahThreedotsabove-ar.fina</key>
	<string>hahT_hreedotsabove-ar.fina.glif</string>
	<key>hahThreedotsabove-ar.init</key>
	<string>hahT_hreedotsabove-ar.init.glif</string>
	<key>hahThreedotsabove-ar.isol</key>
	<string>hahT_hreedotsabove-ar.isol.glif</string>
	<key>hahThreedotsabove-ar.medi</key>
	<string>hahT_hreedotsabove-ar.medi.glif</string>
	<key>hamza-ar</key>
	<string>hamza-ar.glif</string>
	<key>hamza-ar.isol</key>
	<string>hamza-ar.isol.glif</string>
	<key>hamzaabove-ar</key>
	<string>hamzaabove-ar.glif</string>
	<key>hamzaaboveDamma-ar</key>
	<string>hamzaaboveD_amma-ar.glif</string>
	<key>hamzaaboveDammatan-ar</key>
	<string>hamzaaboveD_ammatan-ar.glif</string>
	<key>hamzaaboveFatha-ar</key>
	<string>hamzaaboveF_atha-ar.glif</string>
	<key>hamzaaboveFathatan-ar</key>
	<string>hamzaaboveF_athatan-ar.glif</string>
	<key>hamzaaboveSukun-ar</key>
	<string>hamzaaboveS_ukun-ar.glif</string>
	<key>hamzabelow-ar</key>
	<string>hamzabelow-ar.glif</string>
	<key>hamzabelowKasra-ar</key>
	<string>hamzabelowK_asra-ar.glif</string>
	<key>hamzabelowKasratan-ar</key>
	<string>hamzabelowK_asratan-ar.glif</string>
	<key>hamzacenter-ar</key>
	<string>hamzacenter-ar.glif</string>
	<key>heh-ar</key>
	<string>heh-ar.glif</string>
	<key>heh-ar.fina</key>
	<string>heh-ar.fina.glif</string>
	<key>heh-ar.init</key>
	<string>heh-ar.init.glif</string>
	<key>heh-ar.isol</key>
	<string>heh-ar.isol.glif</string>
	<key>heh-ar.medi</key>
	<string>heh-ar.medi.glif</string>
	<key>hehDoachashmee-ar</key>
	<string>hehD_oachashmee-ar.glif</string>
	<key>hehDoachashmee-ar.fina</key>
	<string>hehD_oachashmee-ar.fina.glif</string>
	<key>hehDoachashmee-ar.init</key>
	<string>hehD_oachashmee-ar.init.glif</string>
	<key>hehDoachashmee-ar.isol</key>
	<string>hehD_oachashmee-ar.isol.glif</string>
	<key>hehDoachashmee-ar.medi</key>
	<string>hehD_oachashmee-ar.medi.glif</string>
	<key>hehHamzaabove-ar</key>
	<string>hehH_amzaabove-ar.glif</string>
	<key>hehHamzaabove-ar.fina</key>
	<string>hehH_amzaabove-ar.fina.glif</string>
	<key>hehHamzaabove-ar.isol</key>
	<string>hehH_amzaabove-ar.isol.glif</string>
	<key>hehgoal-ar</key>
	<string>hehgoal-ar.glif</string>
	<key>hehgoal-ar.fina</key>
	<string>hehgoal-ar.fina.glif</string>
	<key>hehgoal-ar.init</key>
	<string>hehgoal-ar.init.glif</string>
	<key>hehgoal-ar.isol</key>
	<string>hehgoal-ar.isol.glif</string>
	<key>hehgoal-ar.medi</key>
	<string>hehgoal-ar.medi.glif</string>
	<key>hehgoalHamzaabove-ar</key>
	<string>hehgoalH_amzaabove-ar.glif</string>
	<key>hehgoalHamzaabove-ar.fina</key>
	<string>hehgoalH_amzaabove-ar.fina.glif</string>
	<key>hehgoalHamzaabove-ar.init</key>
	<string>hehgoalH_amzaabove-ar.init.glif</string>
	<key>hehgoalHamzaabove-ar.isol</key>
	<string>hehgoalH_amzaabove-ar.isol.glif</string>
	<key>hehgoalHamzaabove-ar.medi</key>
	<string>hehgoalH_amzaabove-ar.medi.glif</string>
	<key>highhamza-ar</key>
	<string>highhamza-ar.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphentwo</key>
	<string>hyphentwo.glif</string>
	<key>jeem-ar</key>
	<string>jeem-ar.glif</string>
	<key>jeem-ar.fina</key>
	<string>jeem-ar.fina.glif</string>
	<key>jeem-ar.init</key>
	<string>jeem-ar.init.glif</string>
	<key>jeem-ar.isol</key>
	<string>jeem-ar.isol.glif</string>
	<key>jeem-ar.medi</key>
	<string>jeem-ar.medi.glif</string>
	<key>jeh-ar</key>
	<string>jeh-ar.glif</string>
	<key>jeh-ar.fina</key>
	<string>jeh-ar.fina.glif</string>
	<key>jeh-ar.isol</key>
	<string>jeh-ar.isol.glif</string>
	<key>kaf-ar</key>
	<string>kaf-ar.glif</string>
	<key>kaf-ar.fina</key>
	<string>kaf-ar.fina.glif</string>
	<key>kaf-ar.init</key>
	<string>kaf-ar.init.glif</string>
	<key>kaf-ar.isol</key>
	<string>kaf-ar.isol.glif</string>
	<key>kaf-ar.medi</key>
	<string>kaf-ar.medi.glif</string>
	<key>kafRing-ar</key>
	<string>kafR_ing-ar.glif</string>
	<key>kafRing-ar.fina</key>
	<string>kafR_ing-ar.fina.glif</string>
	<key>kafRing-ar.init</key>
	<string>kafR_ing-ar.init.glif</string>
	<key>kafRing-ar.isol</key>
	<string>kafR_ing-ar.isol.glif</string>
	<key>kafRing-ar.medi</key>
	<string>kafR_ing-ar.medi.glif</string>
	<key>kafche-ar</key>
	<string>kafche-ar.glif</string>
	<key>kashida-ar</key>
	<string>kashida-ar.glif</string>
	<key>kasra-ar</key>
	<string>kasra-ar.glif</string>
	<key>kasratan-ar</key>
	<string>kasratan-ar.glif</string>
	<key>keheh-ar</key>
	<string>keheh-ar.glif</string>
	<key>keheh-ar.fina</key>
	<string>keheh-ar.fina.glif</string>
	<key>keheh-ar.init</key>
	<string>keheh-ar.init.glif</string>
	<key>keheh-ar.isol</key>
	<string>keheh-ar.isol.glif</string>
	<key>keheh-ar.medi</key>
	<string>keheh-ar.medi.glif</string>
	<key>khah-ar</key>
	<string>khah-ar.glif</string>
	<key>khah-ar.fina</key>
	<string>khah-ar.fina.glif</string>
	<key>khah-ar.init</key>
	<string>khah-ar.init.glif</string>
	<key>khah-ar.isol</key>
	<string>khah-ar.isol.glif</string>
	<key>khah-ar.medi</key>
	<string>khah-ar.medi.glif</string>
	<key>lam-ar</key>
	<string>lam-ar.glif</string>
	<key>lam-ar.fina</key>
	<string>lam-ar.fina.glif</string>
	<key>lam-ar.init</key>
	<string>lam-ar.init.glif</string>
	<key>lam-ar.isol</key>
	<string>lam-ar.isol.glif</string>
	<key>lam-ar.medi</key>
	<string>lam-ar.medi.glif</string>
	<key>lamVabove-ar</key>
	<string>lamV_above-ar.glif</string>
	<key>lamVabove-ar.fina</key>
	<string>lamV_above-ar.fina.glif</string>
	<key>lamVabove-ar.init</key>
	<string>lamV_above-ar.init.glif</string>
	<key>lamVabove-ar.isol</key>
	<string>lamV_above-ar.isol.glif</string>
	<key>lamVabove-ar.medi</key>
	<string>lamV_above-ar.medi.glif</string>
	<key>lam_alef-ar</key>
	<string>lam_alef-ar.glif</string>
	<key>lam_alef-ar.fina</key>
	<string>lam_alef-ar.fina.glif</string>
	<key>lam_alefHamzaabove-ar</key>
	<string>lam_alefH_amzaabove-ar.glif</string>
	<key>lam_alefHamzaabove-ar.fina</key>
	<string>lam_alefH_amzaabove-ar.fina.glif</string>
	<key>lam_alefHamzabelow-ar</key>
	<string>lam_alefH_amzabelow-ar.glif</string>
	<key>lam_alefHamzabelow-ar.fina</key>
	<string>lam_alefH_amzabelow-ar.fina.glif</string>
	<key>lam_alefMadda-ar</key>
	<string>lam_alefM_adda-ar.glif</string>
	<key>lam_alefMadda-ar.fina</key>
	<string>lam_alefM_adda-ar.fina.glif</string>
	<key>lam_alefWasla-ar</key>
	<string>lam_alefW_asla-ar.glif</string>
	<key>lam_alefWasla-ar.fina</key>
	<string>lam_alefW_asla-ar.fina.glif</string>
	<key>lefttorightembedding</key>
	<string>lefttorightembedding.glif</string>
	<key>lefttorightmark</key>
	<string>lefttorightmark.glif</string>
	<key>lefttorightoverride</key>
	<string>lefttorightoverride.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lowringmod</key>
	<string>lowringmod.glif</string>
	<key>madda-ar</key>
	<string>madda-ar.glif</string>
	<key>meem-ar</key>
	<string>meem-ar.glif</string>
	<key>meem-ar.fina</key>
	<string>meem-ar.fina.glif</string>
	<key>meem-ar.init</key>
	<string>meem-ar.init.glif</string>
	<key>meem-ar.isol</key>
	<string>meem-ar.isol.glif</string>
	<key>meem-ar.medi</key>
	<string>meem-ar.medi.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ng-ar</key>
	<string>ng-ar.glif</string>
	<key>ng-ar.fina</key>
	<string>ng-ar.fina.glif</string>
	<key>ng-ar.init</key>
	<string>ng-ar.init.glif</string>
	<key>ng-ar.isol</key>
	<string>ng-ar.isol.glif</string>
	<key>ng-ar.medi</key>
	<string>ng-ar.medi.glif</string>
	<key>nine-ar</key>
	<string>nine-ar.glif</string>
	<key>nine-persian</key>
	<string>nine-persian.glif</string>
	<key>noon-ar</key>
	<string>noon-ar.glif</string>
	<key>noon-ar.fina</key>
	<string>noon-ar.fina.glif</string>
	<key>noon-ar.init</key>
	<string>noon-ar.init.glif</string>
	<key>noon-ar.isol</key>
	<string>noon-ar.isol.glif</string>
	<key>noon-ar.medi</key>
	<string>noon-ar.medi.glif</string>
	<key>noonRing-ar</key>
	<string>noonR_ing-ar.glif</string>
	<key>noonRing-ar.fina</key>
	<string>noonR_ing-ar.fina.glif</string>
	<key>noonRing-ar.init</key>
	<string>noonR_ing-ar.init.glif</string>
	<key>noonRing-ar.isol</key>
	<string>noonR_ing-ar.isol.glif</string>
	<key>noonRing-ar.medi</key>
	<string>noonR_ing-ar.medi.glif</string>
	<key>noonghunna-ar</key>
	<string>noonghunna-ar.glif</string>
	<key>noonghunna-ar.fina</key>
	<string>noonghunna-ar.fina.glif</string>
	<key>noonghunnaabove-ar</key>
	<string>noonghunnaabove-ar.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>oe-ar</key>
	<string>oe-ar.glif</string>
	<key>oe-ar.fina</key>
	<string>oe-ar.fina.glif</string>
	<key>oe-ar.isol</key>
	<string>oe-ar.isol.glif</string>
	<key>one-ar</key>
	<string>one-ar.glif</string>
	<key>one-persian</key>
	<string>one-persian.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft-ar</key>
	<string>parenleft-ar.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright-ar</key>
	<string>parenright-ar.glif</string>
	<key>peh-ar</key>
	<string>peh-ar.glif</string>
	<key>peh-ar.fina</key>
	<string>peh-ar.fina.glif</string>
	<key>peh-ar.init</key>
	<string>peh-ar.init.glif</string>
	<key>peh-ar.isol</key>
	<string>peh-ar.isol.glif</string>
	<key>peh-ar.medi</key>
	<string>peh-ar.medi.glif</string>
	<key>peh_alef-ar</key>
	<string>peh_alef-ar.glif</string>
	<key>peh_alef-ar.isol</key>
	<string>peh_alef-ar.isol.glif</string>
	<key>percent-ar</key>
	<string>percent-ar.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>pertenthousand-ar</key>
	<string>pertenthousand-ar.glif</string>
	<key>perthousand-ar</key>
	<string>perthousand-ar.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>popdirectionalformatting</key>
	<string>popdirectionalformatting.glif</string>
	<key>qaf-ar</key>
	<string>qaf-ar.glif</string>
	<key>qaf-ar.fina</key>
	<string>qaf-ar.fina.glif</string>
	<key>qaf-ar.init</key>
	<string>qaf-ar.init.glif</string>
	<key>qaf-ar.isol</key>
	<string>qaf-ar.isol.glif</string>
	<key>qaf-ar.medi</key>
	<string>qaf-ar.medi.glif</string>
	<key>qafDotless-ar</key>
	<string>qafD_otless-ar.glif</string>
	<key>qafDotless-ar.fina</key>
	<string>qafD_otless-ar.fina.glif</string>
	<key>qafLamAlefMaksuraabove-ar</key>
	<string>qafL_amA_lefM_aksuraabove-ar.glif</string>
	<key>question-ar</key>
	<string>question-ar.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>reh-ar</key>
	<string>reh-ar.glif</string>
	<key>reh-ar.fina</key>
	<string>reh-ar.fina.glif</string>
	<key>reh-ar.isol</key>
	<string>reh-ar.isol.glif</string>
	<key>rehDotbelowdotabove-ar</key>
	<string>rehD_otbelowdotabove-ar.glif</string>
	<key>rehDotbelowdotabove-ar.fina</key>
	<string>rehD_otbelowdotabove-ar.fina.glif</string>
	<key>rehDotbelowdotabove-ar.isol</key>
	<string>rehD_otbelowdotabove-ar.isol.glif</string>
	<key>rehRing-ar</key>
	<string>rehR_ing-ar.glif</string>
	<key>rehRing-ar.fina</key>
	<string>rehR_ing-ar.fina.glif</string>
	<key>rehRing-ar.isol</key>
	<string>rehR_ing-ar.isol.glif</string>
	<key>rehVbelow-ar</key>
	<string>rehV_below-ar.glif</string>
	<key>rehVbelow-ar.fina</key>
	<string>rehV_below-ar.fina.glif</string>
	<key>rehVbelow-ar.isol</key>
	<string>rehV_below-ar.isol.glif</string>
	<key>rial</key>
	<string>rial.glif</string>
	<key>righttoleftembedding</key>
	<string>righttoleftembedding.glif</string>
	<key>righttoleftmark</key>
	<string>righttoleftmark.glif</string>
	<key>righttoleftoverride</key>
	<string>righttoleftoverride.glif</string>
	<key>ringbelow-ar</key>
	<string>ringbelow-ar.glif</string>
	<key>ringcenter-ar</key>
	<string>ringcenter-ar.glif</string>
	<key>rreh-ar</key>
	<string>rreh-ar.glif</string>
	<key>rreh-ar.fina</key>
	<string>rreh-ar.fina.glif</string>
	<key>rreh-ar.isol</key>
	<string>rreh-ar.isol.glif</string>
	<key>sad-ar</key>
	<string>sad-ar.glif</string>
	<key>sad-ar.fina</key>
	<string>sad-ar.fina.glif</string>
	<key>sad-ar.init</key>
	<string>sad-ar.init.glif</string>
	<key>sad-ar.isol</key>
	<string>sad-ar.isol.glif</string>
	<key>sad-ar.medi</key>
	<string>sad-ar.medi.glif</string>
	<key>sadLamAlefMaksuraabove-ar</key>
	<string>sadL_amA_lefM_aksuraabove-ar.glif</string>
	<key>sajdah-ar</key>
	<string>sajdah-ar.glif</string>
	<key>seen-ar</key>
	<string>seen-ar.glif</string>
	<key>seen-ar.fina</key>
	<string>seen-ar.fina.glif</string>
	<key>seen-ar.init</key>
	<string>seen-ar.init.glif</string>
	<key>seen-ar.isol</key>
	<string>seen-ar.isol.glif</string>
	<key>seen-ar.medi</key>
	<string>seen-ar.medi.glif</string>
	<key>seenDotbelowDotabove-ar</key>
	<string>seenD_otbelowD_otabove-ar.glif</string>
	<key>seenDotbelowDotabove-ar.fina</key>
	<string>seenD_otbelowD_otabove-ar.fina.glif</string>
	<key>seenDotbelowDotabove-ar.init</key>
	<string>seenD_otbelowD_otabove-ar.init.glif</string>
	<key>seenDotbelowDotabove-ar.isol</key>
	<string>seenD_otbelowD_otabove-ar.isol.glif</string>
	<key>seenDotbelowDotabove-ar.medi</key>
	<string>seenD_otbelowD_otabove-ar.medi.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon-ar</key>
	<string>semicolon-ar.glif</string>
	<key>seven-ar</key>
	<string>seven-ar.glif</string>
	<key>seven-persian</key>
	<string>seven-persian.glif</string>
	<key>seven-persian.urdu</key>
	<string>seven-persian.urdu.glif</string>
	<key>shadda-ar</key>
	<string>shadda-ar.glif</string>
	<key>shaddaAlefabove-ar</key>
	<string>shaddaA_lefabove-ar.glif</string>
	<key>shaddaDamma-ar</key>
	<string>shaddaD_amma-ar.glif</string>
	<key>shaddaDammatan-ar</key>
	<string>shaddaD_ammatan-ar.glif</string>
	<key>shaddaFatha-ar</key>
	<string>shaddaF_atha-ar.glif</string>
	<key>shaddaFathatan-ar</key>
	<string>shaddaF_athatan-ar.glif</string>
	<key>shaddaKasra-ar</key>
	<string>shaddaK_asra-ar.glif</string>
	<key>shaddaKasratan-ar</key>
	<string>shaddaK_asratan-ar.glif</string>
	<key>sheen-ar</key>
	<string>sheen-ar.glif</string>
	<key>sheen-ar.fina</key>
	<string>sheen-ar.fina.glif</string>
	<key>sheen-ar.init</key>
	<string>sheen-ar.init.glif</string>
	<key>sheen-ar.isol</key>
	<string>sheen-ar.isol.glif</string>
	<key>sheen-ar.medi</key>
	<string>sheen-ar.medi.glif</string>
	<key>six-ar</key>
	<string>six-ar.glif</string>
	<key>six-persian</key>
	<string>six-persian.glif</string>
	<key>six-persian.urdu</key>
	<string>six-persian.urdu.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sukun-ar</key>
	<string>sukun-ar.glif</string>
	<key>tah-ar</key>
	<string>tah-ar.glif</string>
	<key>tah-ar.fina</key>
	<string>tah-ar.fina.glif</string>
	<key>tah-ar.init</key>
	<string>tah-ar.init.glif</string>
	<key>tah-ar.isol</key>
	<string>tah-ar.isol.glif</string>
	<key>tah-ar.medi</key>
	<string>tah-ar.medi.glif</string>
	<key>tahabove-ar</key>
	<string>tahabove-ar.glif</string>
	<key>tcheh-ar</key>
	<string>tcheh-ar.glif</string>
	<key>tcheh-ar.fina</key>
	<string>tcheh-ar.fina.glif</string>
	<key>tcheh-ar.init</key>
	<string>tcheh-ar.init.glif</string>
	<key>tcheh-ar.isol</key>
	<string>tcheh-ar.isol.glif</string>
	<key>tcheh-ar.medi</key>
	<string>tcheh-ar.medi.glif</string>
	<key>teh-ar</key>
	<string>teh-ar.glif</string>
	<key>teh-ar.fina</key>
	<string>teh-ar.fina.glif</string>
	<key>teh-ar.init</key>
	<string>teh-ar.init.glif</string>
	<key>teh-ar.isol</key>
	<string>teh-ar.isol.glif</string>
	<key>teh-ar.medi</key>
	<string>teh-ar.medi.glif</string>
	<key>tehMarbuta-ar</key>
	<string>tehM_arbuta-ar.glif</string>
	<key>tehMarbuta-ar.fina</key>
	<string>tehM_arbuta-ar.fina.glif</string>
	<key>tehMarbuta-ar.isol</key>
	<string>tehM_arbuta-ar.isol.glif</string>
	<key>tehMarbutagoal-ar</key>
	<string>tehM_arbutagoal-ar.glif</string>
	<key>tehMarbutagoal-ar.fina</key>
	<string>tehM_arbutagoal-ar.fina.glif</string>
	<key>tehMarbutagoal-ar.isol</key>
	<string>tehM_arbutagoal-ar.isol.glif</string>
	<key>tehRing-ar</key>
	<string>tehR_ing-ar.glif</string>
	<key>tehRing-ar.fina</key>
	<string>tehR_ing-ar.fina.glif</string>
	<key>tehRing-ar.init</key>
	<string>tehR_ing-ar.init.glif</string>
	<key>tehRing-ar.isol</key>
	<string>tehR_ing-ar.isol.glif</string>
	<key>tehRing-ar.medi</key>
	<string>tehR_ing-ar.medi.glif</string>
	<key>thal-ar</key>
	<string>thal-ar.glif</string>
	<key>thal-ar.fina</key>
	<string>thal-ar.fina.glif</string>
	<key>thal-ar.isol</key>
	<string>thal-ar.isol.glif</string>
	<key>theh-ar</key>
	<string>theh-ar.glif</string>
	<key>theh-ar.fina</key>
	<string>theh-ar.fina.glif</string>
	<key>theh-ar.init</key>
	<string>theh-ar.init.glif</string>
	<key>theh-ar.isol</key>
	<string>theh-ar.isol.glif</string>
	<key>theh-ar.medi</key>
	<string>theh-ar.medi.glif</string>
	<key>thousandseparator-ar</key>
	<string>thousandseparator-ar.glif</string>
	<key>three-ar</key>
	<string>three-ar.glif</string>
	<key>three-persian</key>
	<string>three-persian.glif</string>
	<key>threedotsdownabove-ar</key>
	<string>threedotsdownabove-ar.glif</string>
	<key>threedotsdownbelow-ar</key>
	<string>threedotsdownbelow-ar.glif</string>
	<key>threedotsdowncenter-ar</key>
	<string>threedotsdowncenter-ar.glif</string>
	<key>threedotsupabove-ar</key>
	<string>threedotsupabove-ar.glif</string>
	<key>threedotsupbelow-ar</key>
	<string>threedotsupbelow-ar.glif</string>
	<key>tteh-ar</key>
	<string>tteh-ar.glif</string>
	<key>tteh-ar.fina</key>
	<string>tteh-ar.fina.glif</string>
	<key>tteh-ar.init</key>
	<string>tteh-ar.init.glif</string>
	<key>tteh-ar.isol</key>
	<string>tteh-ar.isol.glif</string>
	<key>tteh-ar.medi</key>
	<string>tteh-ar.medi.glif</string>
	<key>two-ar</key>
	<string>two-ar.glif</string>
	<key>two-persian</key>
	<string>two-persian.glif</string>
	<key>twodotshorizontalabove-ar</key>
	<string>twodotshorizontalabove-ar.glif</string>
	<key>twodotshorizontalbelow-ar</key>
	<string>twodotshorizontalbelow-ar.glif</string>
	<key>twodotsverticalabove-ar</key>
	<string>twodotsverticalabove-ar.glif</string>
	<key>twodotsverticalbelow-ar</key>
	<string>twodotsverticalbelow-ar.glif</string>
	<key>u-ar</key>
	<string>u-ar.glif</string>
	<key>u-ar.fina</key>
	<string>u-ar.fina.glif</string>
	<key>u-ar.isol</key>
	<string>u-ar.isol.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>vabove-ar</key>
	<string>vabove-ar.glif</string>
	<key>vbelow-ar</key>
	<string>vbelow-ar.glif</string>
	<key>ve-ar</key>
	<string>ve-ar.glif</string>
	<key>ve-ar.fina</key>
	<string>ve-ar.fina.glif</string>
	<key>ve-ar.isol</key>
	<string>ve-ar.isol.glif</string>
	<key>veh-ar</key>
	<string>veh-ar.glif</string>
	<key>veh-ar.fina</key>
	<string>veh-ar.fina.glif</string>
	<key>veh-ar.init</key>
	<string>veh-ar.init.glif</string>
	<key>veh-ar.isol</key>
	<string>veh-ar.isol.glif</string>
	<key>veh-ar.medi</key>
	<string>veh-ar.medi.glif</string>
	<key>vinvertedabove-ar</key>
	<string>vinvertedabove-ar.glif</string>
	<key>wasla-ar</key>
	<string>wasla-ar.glif</string>
	<key>waw-ar</key>
	<string>waw-ar.glif</string>
	<key>waw-ar.fina</key>
	<string>waw-ar.fina.glif</string>
	<key>waw-ar.isol</key>
	<string>waw-ar.isol.glif</string>
	<key>wawHamzaabove-ar</key>
	<string>wawH_amzaabove-ar.glif</string>
	<key>wawHamzaabove-ar.fina</key>
	<string>wawH_amzaabove-ar.fina.glif</string>
	<key>wawHamzaabove-ar.isol</key>
	<string>wawH_amzaabove-ar.isol.glif</string>
	<key>wawTwodots-ar</key>
	<string>wawT_wodots-ar.glif</string>
	<key>wawTwodots-ar.fina</key>
	<string>wawT_wodots-ar.fina.glif</string>
	<key>wawTwodots-ar.isol</key>
	<string>wawT_wodots-ar.isol.glif</string>
	<key>wawring-ar</key>
	<string>wawring-ar.glif</string>
	<key>wawring-ar.fina</key>
	<string>wawring-ar.fina.glif</string>
	<key>wawring-ar.isol</key>
	<string>wawring-ar.isol.glif</string>
	<key>whiteStar.circled</key>
	<string>whiteS_tar.circled.glif</string>
	<key>yeh-ar</key>
	<string>yeh-ar.glif</string>
	<key>yeh-ar.fina</key>
	<string>yeh-ar.fina.glif</string>
	<key>yeh-ar.init</key>
	<string>yeh-ar.init.glif</string>
	<key>yeh-ar.isol</key>
	<string>yeh-ar.isol.glif</string>
	<key>yeh-ar.medi</key>
	<string>yeh-ar.medi.glif</string>
	<key>yeh-farsi</key>
	<string>yeh-farsi.glif</string>
	<key>yeh-farsi.fina</key>
	<string>yeh-farsi.fina.glif</string>
	<key>yeh-farsi.init</key>
	<string>yeh-farsi.init.glif</string>
	<key>yeh-farsi.isol</key>
	<string>yeh-farsi.isol.glif</string>
	<key>yeh-farsi.medi</key>
	<string>yeh-farsi.medi.glif</string>
	<key>yeh-farsi_alef-ar</key>
	<string>yeh-farsi_alef-ar.glif</string>
	<key>yeh-farsi_alef-ar.isol</key>
	<string>yeh-farsi_alef-ar.isol.glif</string>
	<key>yehHamzaabove-ar</key>
	<string>yehH_amzaabove-ar.glif</string>
	<key>yehHamzaabove-ar.fina</key>
	<string>yehH_amzaabove-ar.fina.glif</string>
	<key>yehHamzaabove-ar.init</key>
	<string>yehH_amzaabove-ar.init.glif</string>
	<key>yehHamzaabove-ar.isol</key>
	<string>yehH_amzaabove-ar.isol.glif</string>
	<key>yehHamzaabove-ar.medi</key>
	<string>yehH_amzaabove-ar.medi.glif</string>
	<key>yehTail-ar</key>
	<string>yehT_ail-ar.glif</string>
	<key>yehTail-ar.fina</key>
	<string>yehT_ail-ar.fina.glif</string>
	<key>yehTail-ar.isol</key>
	<string>yehT_ail-ar.isol.glif</string>
	<key>yehVabove-ar</key>
	<string>yehV_above-ar.glif</string>
	<key>yehVabove-ar.fina</key>
	<string>yehV_above-ar.fina.glif</string>
	<key>yehVabove-ar.init</key>
	<string>yehV_above-ar.init.glif</string>
	<key>yehVabove-ar.isol</key>
	<string>yehV_above-ar.isol.glif</string>
	<key>yehVabove-ar.medi</key>
	<string>yehV_above-ar.medi.glif</string>
	<key>yeh_alef-ar</key>
	<string>yeh_alef-ar.glif</string>
	<key>yeh_alef-ar.isol</key>
	<string>yeh_alef-ar.isol.glif</string>
	<key>yehbarree-ar</key>
	<string>yehbarree-ar.glif</string>
	<key>yehbarree-ar.fina</key>
	<string>yehbarree-ar.fina.glif</string>
	<key>yehbarree-ar.fina.001</key>
	<string>yehbarree-ar.fina.001.glif</string>
	<key>yehbarree-ar.isol</key>
	<string>yehbarree-ar.isol.glif</string>
	<key>yehbarreeHamzaabove-ar</key>
	<string>yehbarreeH_amzaabove-ar.glif</string>
	<key>yehbarreeHamzaabove-ar.fina</key>
	<string>yehbarreeH_amzaabove-ar.fina.glif</string>
	<key>yehbarreeHamzaabove-ar.isol</key>
	<string>yehbarreeH_amzaabove-ar.isol.glif</string>
	<key>yu-ar</key>
	<string>yu-ar.glif</string>
	<key>yu-ar.fina</key>
	<string>yu-ar.fina.glif</string>
	<key>yu-ar.isol</key>
	<string>yu-ar.isol.glif</string>
	<key>zah-ar</key>
	<string>zah-ar.glif</string>
	<key>zah-ar.fina</key>
	<string>zah-ar.fina.glif</string>
	<key>zah-ar.init</key>
	<string>zah-ar.init.glif</string>
	<key>zah-ar.isol</key>
	<string>zah-ar.isol.glif</string>
	<key>zah-ar.medi</key>
	<string>zah-ar.medi.glif</string>
	<key>zain-ar</key>
	<string>zain-ar.glif</string>
	<key>zain-ar.fina</key>
	<string>zain-ar.fina.glif</string>
	<key>zain-ar.isol</key>
	<string>zain-ar.isol.glif</string>
	<key>zero-ar</key>
	<string>zero-ar.glif</string>
	<key>zero-persian</key>
	<string>zero-persian.glif</string>
	<key>zeroWidthNoBreakSpace</key>
	<string>zeroW_idthN_oB_reakS_pace.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
	<key>zerowidthspace</key>
	<string>zerowidthspace.glif</string>
</dict>
</plist>
