<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.null</key>
	<string>_null.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>ae-ar</key>
	<string>ae-ar.glif</string>
	<key>ae-ar.fina</key>
	<string>ae-ar.fina.glif</string>
	<key>ain-ar</key>
	<string>ain-ar.glif</string>
	<key>ain-ar.fina</key>
	<string>ain-ar.fina.glif</string>
	<key>ain-ar.init</key>
	<string>ain-ar.init.glif</string>
	<key>ain-ar.medi</key>
	<string>ain-ar.medi.glif</string>
	<key>alef-ar</key>
	<string>alef-ar.glif</string>
	<key>alef-ar.fina</key>
	<string>alef-ar.fina.glif</string>
	<key>alef-ar.fina.short</key>
	<string>alef-ar.fina.short.glif</string>
	<key>alef-ar.short</key>
	<string>alef-ar.short.glif</string>
	<key>alefHamzaabove-ar</key>
	<string>alefH_amzaabove-ar.glif</string>
	<key>alefHamzaabove-ar.fina</key>
	<string>alefH_amzaabove-ar.fina.glif</string>
	<key>alefHamzabelow-ar</key>
	<string>alefH_amzabelow-ar.glif</string>
	<key>alefHamzabelow-ar.fina</key>
	<string>alefH_amzabelow-ar.fina.glif</string>
	<key>alefMadda-ar</key>
	<string>alefM_adda-ar.glif</string>
	<key>alefMadda-ar.fina</key>
	<string>alefM_adda-ar.fina.glif</string>
	<key>alefMaksura-ar</key>
	<string>alefM_aksura-ar.glif</string>
	<key>alefMaksura-ar.fina</key>
	<string>alefM_aksura-ar.fina.glif</string>
	<key>alefMaksura-ar.init</key>
	<string>alefM_aksura-ar.init.glif</string>
	<key>alefMaksura-ar.medi</key>
	<string>alefM_aksura-ar.medi.glif</string>
	<key>asterisk-ar</key>
	<string>asterisk-ar.glif</string>
	<key>beh-ar</key>
	<string>beh-ar.glif</string>
	<key>beh-ar.fina</key>
	<string>beh-ar.fina.glif</string>
	<key>beh-ar.init</key>
	<string>beh-ar.init.glif</string>
	<key>beh-ar.medi</key>
	<string>beh-ar.medi.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>dad-ar</key>
	<string>dad-ar.glif</string>
	<key>dad-ar.fina</key>
	<string>dad-ar.fina.glif</string>
	<key>dad-ar.init</key>
	<string>dad-ar.init.glif</string>
	<key>dad-ar.medi</key>
	<string>dad-ar.medi.glif</string>
	<key>dal-ar</key>
	<string>dal-ar.glif</string>
	<key>dal-ar.fina</key>
	<string>dal-ar.fina.glif</string>
	<key>damma-ar</key>
	<string>damma-ar.glif</string>
	<key>dammatan-ar</key>
	<string>dammatan-ar.glif</string>
	<key>dotabove-ar</key>
	<string>dotabove-ar.glif</string>
	<key>dotbelow-ar</key>
	<string>dotbelow-ar.glif</string>
	<key>dotcenter-ar</key>
	<string>dotcenter-ar.glif</string>
	<key>dotlessbeh-ar</key>
	<string>dotlessbeh-ar.glif</string>
	<key>dotlessbeh-ar.fina</key>
	<string>dotlessbeh-ar.fina.glif</string>
	<key>dotlessbeh-ar.init</key>
	<string>dotlessbeh-ar.init.glif</string>
	<key>dotlessbeh-ar.medi</key>
	<string>dotlessbeh-ar.medi.glif</string>
	<key>dotlessfeh-ar</key>
	<string>dotlessfeh-ar.glif</string>
	<key>dotlessfeh-ar.fina</key>
	<string>dotlessfeh-ar.fina.glif</string>
	<key>dotlessfeh-ar.init</key>
	<string>dotlessfeh-ar.init.glif</string>
	<key>dotlessfeh-ar.medi</key>
	<string>dotlessfeh-ar.medi.glif</string>
	<key>dotlessqaf-ar</key>
	<string>dotlessqaf-ar.glif</string>
	<key>dotlessqaf-ar.fina</key>
	<string>dotlessqaf-ar.fina.glif</string>
	<key>e-ar</key>
	<string>e-ar.glif</string>
	<key>e-ar.fina</key>
	<string>e-ar.fina.glif</string>
	<key>e-ar.init</key>
	<string>e-ar.init.glif</string>
	<key>e-ar.medi</key>
	<string>e-ar.medi.glif</string>
	<key>eight-ar</key>
	<string>eight-ar.glif</string>
	<key>eight-persian</key>
	<string>eight-persian.glif</string>
	<key>endofayah-ar</key>
	<string>endofayah-ar.glif</string>
	<key>fatha-ar</key>
	<string>fatha-ar.glif</string>
	<key>fathatan-ar</key>
	<string>fathatan-ar.glif</string>
	<key>feh-ar</key>
	<string>feh-ar.glif</string>
	<key>feh-ar.fina</key>
	<string>feh-ar.fina.glif</string>
	<key>feh-ar.init</key>
	<string>feh-ar.init.glif</string>
	<key>feh-ar.medi</key>
	<string>feh-ar.medi.glif</string>
	<key>five-ar</key>
	<string>five-ar.glif</string>
	<key>five-persian</key>
	<string>five-persian.glif</string>
	<key>four-ar</key>
	<string>four-ar.glif</string>
	<key>four-persian</key>
	<string>four-persian.glif</string>
	<key>fourdotsabove-ar</key>
	<string>fourdotsabove-ar.glif</string>
	<key>fourdotsbelow-ar</key>
	<string>fourdotsbelow-ar.glif</string>
	<key>gaf-ar</key>
	<string>gaf-ar.glif</string>
	<key>gaf-ar.fina</key>
	<string>gaf-ar.fina.glif</string>
	<key>gaf-ar.init</key>
	<string>gaf-ar.init.glif</string>
	<key>gaf-ar.medi</key>
	<string>gaf-ar.medi.glif</string>
	<key>ghain-ar</key>
	<string>ghain-ar.glif</string>
	<key>ghain-ar.fina</key>
	<string>ghain-ar.fina.glif</string>
	<key>ghain-ar.init</key>
	<string>ghain-ar.init.glif</string>
	<key>ghain-ar.medi</key>
	<string>ghain-ar.medi.glif</string>
	<key>hah-ar</key>
	<string>hah-ar.glif</string>
	<key>hah-ar.fina</key>
	<string>hah-ar.fina.glif</string>
	<key>hah-ar.init</key>
	<string>hah-ar.init.glif</string>
	<key>hah-ar.medi</key>
	<string>hah-ar.medi.glif</string>
	<key>hahHamzaabove-ar</key>
	<string>hahH_amzaabove-ar.glif</string>
	<key>hahHamzaabove-ar.fina</key>
	<string>hahH_amzaabove-ar.fina.glif</string>
	<key>hahHamzaabove-ar.init</key>
	<string>hahH_amzaabove-ar.init.glif</string>
	<key>hahHamzaabove-ar.medi</key>
	<string>hahH_amzaabove-ar.medi.glif</string>
	<key>hahThreedotsabove-ar</key>
	<string>hahT_hreedotsabove-ar.glif</string>
	<key>hahThreedotsabove-ar.fina</key>
	<string>hahT_hreedotsabove-ar.fina.glif</string>
	<key>hahThreedotsabove-ar.init</key>
	<string>hahT_hreedotsabove-ar.init.glif</string>
	<key>hahThreedotsabove-ar.medi</key>
	<string>hahT_hreedotsabove-ar.medi.glif</string>
	<key>hamza-ar</key>
	<string>hamza-ar.glif</string>
	<key>hamzaabove-ar</key>
	<string>hamzaabove-ar.glif</string>
	<key>hamzabelow-ar</key>
	<string>hamzabelow-ar.glif</string>
	<key>hamzacenter-ar</key>
	<string>hamzacenter-ar.glif</string>
	<key>heh-ar</key>
	<string>heh-ar.glif</string>
	<key>heh-ar.fina</key>
	<string>heh-ar.fina.glif</string>
	<key>heh-ar.init</key>
	<string>heh-ar.init.glif</string>
	<key>heh-ar.medi</key>
	<string>heh-ar.medi.glif</string>
	<key>highhamza-ar</key>
	<string>highhamza-ar.glif</string>
	<key>jeem-ar</key>
	<string>jeem-ar.glif</string>
	<key>jeem-ar.fina</key>
	<string>jeem-ar.fina.glif</string>
	<key>jeem-ar.init</key>
	<string>jeem-ar.init.glif</string>
	<key>jeem-ar.medi</key>
	<string>jeem-ar.medi.glif</string>
	<key>jeh-ar</key>
	<string>jeh-ar.glif</string>
	<key>jeh-ar.fina</key>
	<string>jeh-ar.fina.glif</string>
	<key>kaf-ar</key>
	<string>kaf-ar.glif</string>
	<key>kaf-ar.fina</key>
	<string>kaf-ar.fina.glif</string>
	<key>kaf-ar.init</key>
	<string>kaf-ar.init.glif</string>
	<key>kaf-ar.medi</key>
	<string>kaf-ar.medi.glif</string>
	<key>kasra-ar</key>
	<string>kasra-ar.glif</string>
	<key>kasratan-ar</key>
	<string>kasratan-ar.glif</string>
	<key>keheh-ar</key>
	<string>keheh-ar.glif</string>
	<key>keheh-ar.fina</key>
	<string>keheh-ar.fina.glif</string>
	<key>keheh-ar.init</key>
	<string>keheh-ar.init.glif</string>
	<key>keheh-ar.medi</key>
	<string>keheh-ar.medi.glif</string>
	<key>khah-ar</key>
	<string>khah-ar.glif</string>
	<key>khah-ar.fina</key>
	<string>khah-ar.fina.glif</string>
	<key>khah-ar.init</key>
	<string>khah-ar.init.glif</string>
	<key>khah-ar.medi</key>
	<string>khah-ar.medi.glif</string>
	<key>lam-ar</key>
	<string>lam-ar.glif</string>
	<key>lam-ar.fina</key>
	<string>lam-ar.fina.glif</string>
	<key>lam-ar.init</key>
	<string>lam-ar.init.glif</string>
	<key>lam-ar.medi</key>
	<string>lam-ar.medi.glif</string>
	<key>lamVabove-ar</key>
	<string>lamV_above-ar.glif</string>
	<key>lam_alef-ar</key>
	<string>lam_alef-ar.glif</string>
	<key>lam_alef-ar.fina</key>
	<string>lam_alef-ar.fina.glif</string>
	<key>lam_alefHamzaabove-ar</key>
	<string>lam_alefH_amzaabove-ar.glif</string>
	<key>lam_alefHamzaabove-ar.fina</key>
	<string>lam_alefH_amzaabove-ar.fina.glif</string>
	<key>lam_alefHamzabelow-ar</key>
	<string>lam_alefH_amzabelow-ar.glif</string>
	<key>lam_alefHamzabelow-ar.fina</key>
	<string>lam_alefH_amzabelow-ar.fina.glif</string>
	<key>lam_alefMadda-ar</key>
	<string>lam_alefM_adda-ar.glif</string>
	<key>lam_alefMadda-ar.fina</key>
	<string>lam_alefM_adda-ar.fina.glif</string>
	<key>lefttorightmark</key>
	<string>lefttorightmark.glif</string>
	<key>madda-ar</key>
	<string>madda-ar.glif</string>
	<key>meem-ar</key>
	<string>meem-ar.glif</string>
	<key>meem-ar.fina</key>
	<string>meem-ar.fina.glif</string>
	<key>meem-ar.init</key>
	<string>meem-ar.init.glif</string>
	<key>meem-ar.medi</key>
	<string>meem-ar.medi.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine-ar</key>
	<string>nine-ar.glif</string>
	<key>nine-persian</key>
	<string>nine-persian.glif</string>
	<key>noon-ar</key>
	<string>noon-ar.glif</string>
	<key>noon-ar.fina</key>
	<string>noon-ar.fina.glif</string>
	<key>noon-ar.init</key>
	<string>noon-ar.init.glif</string>
	<key>noon-ar.medi</key>
	<string>noon-ar.medi.glif</string>
	<key>noonghunna-ar</key>
	<string>noonghunna-ar.glif</string>
	<key>noonghunna-ar.fina</key>
	<string>noonghunna-ar.fina.glif</string>
	<key>oe-ar</key>
	<string>oe-ar.glif</string>
	<key>oe-ar.fina</key>
	<string>oe-ar.fina.glif</string>
	<key>one-ar</key>
	<string>one-ar.glif</string>
	<key>one-persian</key>
	<string>one-persian.glif</string>
	<key>peh-ar</key>
	<string>peh-ar.glif</string>
	<key>peh-ar.fina</key>
	<string>peh-ar.fina.glif</string>
	<key>peh-ar.init</key>
	<string>peh-ar.init.glif</string>
	<key>peh-ar.medi</key>
	<string>peh-ar.medi.glif</string>
	<key>qaf-ar</key>
	<string>qaf-ar.glif</string>
	<key>qaf-ar.fina</key>
	<string>qaf-ar.fina.glif</string>
	<key>qaf-ar.init</key>
	<string>qaf-ar.init.glif</string>
	<key>qaf-ar.medi</key>
	<string>qaf-ar.medi.glif</string>
	<key>reh-ar</key>
	<string>reh-ar.glif</string>
	<key>reh-ar.fina</key>
	<string>reh-ar.fina.glif</string>
	<key>rehDotbelowdotabove-ar</key>
	<string>rehD_otbelowdotabove-ar.glif</string>
	<key>rehVbelow-ar</key>
	<string>rehV_below-ar.glif</string>
	<key>rehVbelow-ar.fina</key>
	<string>rehV_below-ar.fina.glif</string>
	<key>righttoleftmark</key>
	<string>righttoleftmark.glif</string>
	<key>sad-ar</key>
	<string>sad-ar.glif</string>
	<key>sad-ar.fina</key>
	<string>sad-ar.fina.glif</string>
	<key>sad-ar.init</key>
	<string>sad-ar.init.glif</string>
	<key>sad-ar.medi</key>
	<string>sad-ar.medi.glif</string>
	<key>seen-ar</key>
	<string>seen-ar.glif</string>
	<key>seen-ar.fina</key>
	<string>seen-ar.fina.glif</string>
	<key>seen-ar.init</key>
	<string>seen-ar.init.glif</string>
	<key>seen-ar.medi</key>
	<string>seen-ar.medi.glif</string>
	<key>seenDotbelowDotabove-ar</key>
	<string>seenD_otbelowD_otabove-ar.glif</string>
	<key>seven-ar</key>
	<string>seven-ar.glif</string>
	<key>seven-persian</key>
	<string>seven-persian.glif</string>
	<key>shadda-ar</key>
	<string>shadda-ar.glif</string>
	<key>sheen-ar</key>
	<string>sheen-ar.glif</string>
	<key>sheen-ar.fina</key>
	<string>sheen-ar.fina.glif</string>
	<key>sheen-ar.init</key>
	<string>sheen-ar.init.glif</string>
	<key>sheen-ar.medi</key>
	<string>sheen-ar.medi.glif</string>
	<key>six-ar</key>
	<string>six-ar.glif</string>
	<key>six-persian</key>
	<string>six-persian.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sukun-ar</key>
	<string>sukun-ar.glif</string>
	<key>tah-ar</key>
	<string>tah-ar.glif</string>
	<key>tah-ar.fina</key>
	<string>tah-ar.fina.glif</string>
	<key>tah-ar.init</key>
	<string>tah-ar.init.glif</string>
	<key>tah-ar.medi</key>
	<string>tah-ar.medi.glif</string>
	<key>tcheh-ar</key>
	<string>tcheh-ar.glif</string>
	<key>tcheh-ar.fina</key>
	<string>tcheh-ar.fina.glif</string>
	<key>tcheh-ar.init</key>
	<string>tcheh-ar.init.glif</string>
	<key>tcheh-ar.medi</key>
	<string>tcheh-ar.medi.glif</string>
	<key>teh-ar</key>
	<string>teh-ar.glif</string>
	<key>teh-ar.fina</key>
	<string>teh-ar.fina.glif</string>
	<key>teh-ar.init</key>
	<string>teh-ar.init.glif</string>
	<key>teh-ar.medi</key>
	<string>teh-ar.medi.glif</string>
	<key>tehMarbuta-ar</key>
	<string>tehM_arbuta-ar.glif</string>
	<key>tehMarbuta-ar.fina</key>
	<string>tehM_arbuta-ar.fina.glif</string>
	<key>temp</key>
	<string>temp.glif</string>
	<key>thal-ar</key>
	<string>thal-ar.glif</string>
	<key>thal-ar.fina</key>
	<string>thal-ar.fina.glif</string>
	<key>theh-ar</key>
	<string>theh-ar.glif</string>
	<key>theh-ar.fina</key>
	<string>theh-ar.fina.glif</string>
	<key>theh-ar.init</key>
	<string>theh-ar.init.glif</string>
	<key>theh-ar.medi</key>
	<string>theh-ar.medi.glif</string>
	<key>three-ar</key>
	<string>three-ar.glif</string>
	<key>three-persian</key>
	<string>three-persian.glif</string>
	<key>threedotsdownabove-ar</key>
	<string>threedotsdownabove-ar.glif</string>
	<key>threedotsdownbelow-ar</key>
	<string>threedotsdownbelow-ar.glif</string>
	<key>threedotsupabove-ar</key>
	<string>threedotsupabove-ar.glif</string>
	<key>threedotsupbelow-ar</key>
	<string>threedotsupbelow-ar.glif</string>
	<key>two-ar</key>
	<string>two-ar.glif</string>
	<key>two-persian</key>
	<string>two-persian.glif</string>
	<key>twodotshorizontalabove-ar</key>
	<string>twodotshorizontalabove-ar.glif</string>
	<key>twodotshorizontalbelow-ar</key>
	<string>twodotshorizontalbelow-ar.glif</string>
	<key>twodotsverticalabove-ar</key>
	<string>twodotsverticalabove-ar.glif</string>
	<key>twodotsverticalbelow-ar</key>
	<string>twodotsverticalbelow-ar.glif</string>
	<key>u-ar</key>
	<string>u-ar.glif</string>
	<key>u-ar.fina</key>
	<string>u-ar.fina.glif</string>
	<key>veh-ar</key>
	<string>veh-ar.glif</string>
	<key>veh-ar.fina</key>
	<string>veh-ar.fina.glif</string>
	<key>veh-ar.init</key>
	<string>veh-ar.init.glif</string>
	<key>veh-ar.medi</key>
	<string>veh-ar.medi.glif</string>
	<key>waw-ar</key>
	<string>waw-ar.glif</string>
	<key>waw-ar.fina</key>
	<string>waw-ar.fina.glif</string>
	<key>wawHamzaabove-ar</key>
	<string>wawH_amzaabove-ar.glif</string>
	<key>wawHamzaabove-ar.fina</key>
	<string>wawH_amzaabove-ar.fina.glif</string>
	<key>wawTwodots-ar</key>
	<string>wawT_wodots-ar.glif</string>
	<key>yeh-ar</key>
	<string>yeh-ar.glif</string>
	<key>yeh-ar.fina</key>
	<string>yeh-ar.fina.glif</string>
	<key>yeh-ar.init</key>
	<string>yeh-ar.init.glif</string>
	<key>yeh-ar.medi</key>
	<string>yeh-ar.medi.glif</string>
	<key>yeh-farsi</key>
	<string>yeh-farsi.glif</string>
	<key>yeh-farsi.fina</key>
	<string>yeh-farsi.fina.glif</string>
	<key>yeh-farsi.init</key>
	<string>yeh-farsi.init.glif</string>
	<key>yeh-farsi.medi</key>
	<string>yeh-farsi.medi.glif</string>
	<key>yehHamzaabove-ar</key>
	<string>yehH_amzaabove-ar.glif</string>
	<key>yehHamzaabove-ar.fina</key>
	<string>yehH_amzaabove-ar.fina.glif</string>
	<key>yehHamzaabove-ar.init</key>
	<string>yehH_amzaabove-ar.init.glif</string>
	<key>yehHamzaabove-ar.medi</key>
	<string>yehH_amzaabove-ar.medi.glif</string>
	<key>yehVabove-ar</key>
	<string>yehV_above-ar.glif</string>
	<key>yehVabove-ar.fina</key>
	<string>yehV_above-ar.fina.glif</string>
	<key>yehVabove-ar.init</key>
	<string>yehV_above-ar.init.glif</string>
	<key>yehVabove-ar.medi</key>
	<string>yehV_above-ar.medi.glif</string>
	<key>zah-ar</key>
	<string>zah-ar.glif</string>
	<key>zah-ar.fina</key>
	<string>zah-ar.fina.glif</string>
	<key>zah-ar.init</key>
	<string>zah-ar.init.glif</string>
	<key>zah-ar.medi</key>
	<string>zah-ar.medi.glif</string>
	<key>zain-ar</key>
	<string>zain-ar.glif</string>
	<key>zain-ar.fina</key>
	<string>zain-ar.fina.glif</string>
	<key>zero-ar</key>
	<string>zero-ar.glif</string>
	<key>zero-persian</key>
	<string>zero-persian.glif</string>
	<key>zeroWidthNoBreakSpace</key>
	<string>zeroW_idthN_oB_reakS_pace.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
	<key>zerowidthspace</key>
	<string>zerowidthspace.glif</string>
</dict>
</plist>
