<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ain-ar</key>
	<string>ain-ar.glif</string>
	<key>ain-ar.fina</key>
	<string>ain-ar.fina.glif</string>
	<key>ain-ar.init</key>
	<string>ain-ar.init.glif</string>
	<key>ain-ar.medi</key>
	<string>ain-ar.medi.glif</string>
	<key>alef-ar</key>
	<string>alef-ar.glif</string>
	<key>dal-ar</key>
	<string>dal-ar.glif</string>
	<key>dal-ar.fina</key>
	<string>dal-ar.fina.glif</string>
	<key>dotcenter-ar</key>
	<string>dotcenter-ar.glif</string>
	<key>dotlessbeh-ar</key>
	<string>dotlessbeh-ar.glif</string>
	<key>dotlessbeh-ar.medi</key>
	<string>dotlessbeh-ar.medi.glif</string>
	<key>dotlessfeh-ar</key>
	<string>dotlessfeh-ar.glif</string>
	<key>dotlessfeh-ar.init</key>
	<string>dotlessfeh-ar.init.glif</string>
	<key>dotlessfeh-ar.medi</key>
	<string>dotlessfeh-ar.medi.glif</string>
	<key>hah-ar</key>
	<string>hah-ar.glif</string>
	<key>hah-ar.fina</key>
	<string>hah-ar.fina.glif</string>
	<key>hah-ar.init</key>
	<string>hah-ar.init.glif</string>
	<key>hah-ar.medi</key>
	<string>hah-ar.medi.glif</string>
	<key>heh-ar</key>
	<string>heh-ar.glif</string>
	<key>heh-ar.init</key>
	<string>heh-ar.init.glif</string>
	<key>kaf-ar</key>
	<string>kaf-ar.glif</string>
	<key>kaf-ar.init</key>
	<string>kaf-ar.init.glif</string>
	<key>kaf-ar.medi</key>
	<string>kaf-ar.medi.glif</string>
	<key>keheh-ar</key>
	<string>keheh-ar.glif</string>
	<key>keheh-ar.fina</key>
	<string>keheh-ar.fina.glif</string>
	<key>lam-ar</key>
	<string>lam-ar.glif</string>
	<key>lam_alef-ar</key>
	<string>lam_alef-ar.glif</string>
	<key>lam_alef-ar.fina</key>
	<string>lam_alef-ar.fina.glif</string>
	<key>meem-ar</key>
	<string>meem-ar.glif</string>
	<key>meem-ar.fina</key>
	<string>meem-ar.fina.glif</string>
	<key>noon-ar</key>
	<string>noon-ar.glif</string>
	<key>noonghunna-ar</key>
	<string>noonghunna-ar.glif</string>
	<key>reh-ar</key>
	<string>reh-ar.glif</string>
	<key>reh-ar.fina</key>
	<string>reh-ar.fina.glif</string>
	<key>sad-ar</key>
	<string>sad-ar.glif</string>
	<key>sad-ar.fina</key>
	<string>sad-ar.fina.glif</string>
	<key>sad-ar.init</key>
	<string>sad-ar.init.glif</string>
	<key>sad-ar.medi</key>
	<string>sad-ar.medi.glif</string>
	<key>seen-ar</key>
	<string>seen-ar.glif</string>
	<key>seen-ar.fina</key>
	<string>seen-ar.fina.glif</string>
	<key>seen-ar.init</key>
	<string>seen-ar.init.glif</string>
	<key>seen-ar.medi</key>
	<string>seen-ar.medi.glif</string>
	<key>tah-ar</key>
	<string>tah-ar.glif</string>
	<key>temp</key>
	<string>temp.glif</string>
	<key>waw-ar</key>
	<string>waw-ar.glif</string>
	<key>waw-ar.fina</key>
	<string>waw-ar.fina.glif</string>
	<key>yeh-farsi</key>
	<string>yeh-farsi.glif</string>
</dict>
</plist>
