<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1600</integer>
	<key>capHeight</key>
	<integer>0</integer>
	<key>copyright</key>
	<string>This font is released under OFL 1.1 license.</string>
	<key>descender</key>
	<integer>-748</integer>
	<key>familyName</key>
	<string>Pfont</string>
	<key>openTypeHeadCreated</key>
	<string>2016/02/01 14:57:28</string>
	<key>openTypeNameDesigner</key>
	<string>Damoon Khanjanzadeh</string>
	<key>openTypeNameLicense</key>
	<string>OFL V1.1</string>
	<key>openTypeNameManufacturer</key>
	<string>pfont</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://pfont.ir/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Pfont</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameUniqueID</key>
	<string>0.101;Pfont-Regular</string>
	<key>openTypeNameVersion</key>
	<string>Version 0.101</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Pfont-Regular</string>
	<key>postscriptFullName</key>
	<string>Pfont-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapFamilyName</key>
	<string>Pfont</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>101</integer>
	<key>xHeight</key>
	<integer>0</integer>
</dict>
</plist>
