<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
	</dict>
	<key>@MMK_L_ab</key>
	<dict>
		<key>@MMK_R_ab</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>120</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alef-ar</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alef-ar.isol</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alef-ar.short</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alefHamzaabove-ar</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alefHamzaabove-ar.isol</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alefHamzabelow-ar</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>120</integer>
	</dict>
	<key>alefHamzabelow-ar.isol</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>120</integer>
	</dict>
	<key>alefMadda-ar</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alefMadda-ar.isol</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alefWasla-ar</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>alefWasla-ar.fina</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
	</dict>
	<key>alefWasla-ar.isol</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>dotlesskaf-ar</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>gaf-ar</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>gaf-ar.init</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>gaf-ar.isol</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>hamza-ar</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-220</integer>
	</dict>
	<key>kaf-ar</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>kaf-ar.init</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>kaf-ar.isol</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>kafRing-ar</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>kafRing-ar.init</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>kafRing-ar.isol</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>keheh-ar</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>keheh-ar.init</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>keheh-ar.isol</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>lam-ar.init</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>lamVabove-ar.init</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>ng-ar</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>ng-ar.init</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>120</integer>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>ng-ar.isol</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
	<key>yehHamzaabove-ar.init</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>-220</integer>
	</dict>
</dict>
</plist>
