<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_a</key>
	<array>
		<string>alefHamzaabove-ar</string>
		<string>alefHamzaabove-ar.isol</string>
		<string>alefHamzaabove-ar.fina</string>
		<string>alefMadda-ar</string>
		<string>alefMadda-ar.isol</string>
		<string>alefMadda-ar.fina</string>
		<string>alefWasla-ar</string>
		<string>alefWasla-ar.isol</string>
		<string>alefWasla-ar.fina</string>
	</array>
	<key>@MMK_L_ab</key>
	<array>
		<string>alefHamzabelow-ar</string>
		<string>alefHamzabelow-ar.isol</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>reh-ar</string>
		<string>reh-ar.isol</string>
		<string>reh-ar.fina</string>
		<string>zain-ar</string>
		<string>zain-ar.isol</string>
		<string>zain-ar.fina</string>
		<string>rreh-ar</string>
		<string>rreh-ar.isol</string>
		<string>rreh-ar.fina</string>
		<string>rehRing-ar</string>
		<string>rehRing-ar.isol</string>
		<string>rehRing-ar.fina</string>
		<string>rehVbelow-ar</string>
		<string>rehVbelow-ar.isol</string>
		<string>rehVbelow-ar.fina</string>
		<string>rehDotbelowdotabove-ar</string>
		<string>rehDotbelowdotabove-ar.isol</string>
		<string>rehDotbelowdotabove-ar.fina</string>
		<string>jeh-ar</string>
		<string>jeh-ar.isol</string>
		<string>jeh-ar.fina</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>waw-ar</string>
		<string>waw-ar.isol</string>
		<string>waw-ar.fina</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>alef-ar</string>
		<string>alef-ar.isol</string>
		<string>alef-ar.short</string>
		<string>alefHamzaabove-ar</string>
		<string>alefHamzaabove-ar.isol</string>
		<string>alefHamzaabove-ar.fina</string>
		<string>alefMadda-ar</string>
		<string>alefMadda-ar.isol</string>
		<string>alefMadda-ar.fina</string>
		<string>alefWasla-ar</string>
		<string>alefWasla-ar.isol</string>
		<string>alefWasla-ar.fina</string>
	</array>
	<key>@MMK_R_ab</key>
	<array>
		<string>alefHamzabelow-ar</string>
		<string>alefHamzabelow-ar.isol</string>
		<string>hehgoal-ar.init</string>
		<string>wawring-ar</string>
		<string>wawring-ar.isol</string>
		<string>wawTwodots-ar</string>
		<string>wawTwodots-ar.isol</string>
		<string>wawHamzaabove-ar</string>
		<string>wawHamzaabove-ar.isol</string>
		<string>oe-ar</string>
		<string>oe-ar.isol</string>
		<string>u-ar</string>
		<string>u-ar.isol</string>
		<string>yu-ar</string>
		<string>yu-ar.isol</string>
		<string>ve-ar</string>
		<string>ve-ar.isol</string>
	</array>
	<key>@MMK_R_ain</key>
	<array>
		<string>ain-ar</string>
		<string>ghain-ar</string>
	</array>
	<key>@MMK_R_all</key>
	<array>
		<string>hamza-ar</string>
		<string>hamza-ar.isol</string>
		<string>behDotless-ar</string>
		<string>behDotless-ar.init</string>
		<string>beh-ar</string>
		<string>beh-ar.isol</string>
		<string>peh-ar</string>
		<string>peh-ar.isol</string>
		<string>alefMaksura-ar.init</string>
		<string>teh-ar</string>
		<string>teh-ar.isol</string>
		<string>teh-ar.init</string>
		<string>tehRing-ar</string>
		<string>tehRing-ar.isol</string>
		<string>theh-ar</string>
		<string>theh-ar.isol</string>
		<string>tteh-ar</string>
		<string>tteh-ar.isol</string>
		<string>tteh-ar.init</string>
		<string>jeem-ar.init</string>
		<string>tcheh-ar.init</string>
		<string>hah-ar.init</string>
		<string>hahHamzaabove-ar.init</string>
		<string>hahThreedotsabove-ar.init</string>
		<string>khah-ar.init</string>
		<string>dal-ar</string>
		<string>dal-ar.isol</string>
		<string>thal-ar</string>
		<string>thal-ar.isol</string>
		<string>ddal-ar</string>
		<string>ddal-ar.isol</string>
		<string>dul-ar</string>
		<string>dul-ar.isol</string>
		<string>dalVinvertedabove-ar</string>
		<string>dalVinvertedabove-ar.isol</string>
		<string>seen-ar</string>
		<string>seen-ar.isol</string>
		<string>seen-ar.init</string>
		<string>seenDotbelowDotabove-ar</string>
		<string>seenDotbelowDotabove-ar.isol</string>
		<string>seenDotbelowDotabove-ar.init</string>
		<string>sheen-ar</string>
		<string>sheen-ar.isol</string>
		<string>sheen-ar.init</string>
		<string>sad-ar</string>
		<string>sad-ar.isol</string>
		<string>sad-ar.init</string>
		<string>dad-ar</string>
		<string>dad-ar.isol</string>
		<string>dad-ar.init</string>
		<string>tah-ar</string>
		<string>tah-ar.isol</string>
		<string>tah-ar.init</string>
		<string>zah-ar</string>
		<string>zah-ar.isol</string>
		<string>zah-ar.init</string>
		<string>ain-ar.init</string>
		<string>ghain-ar.init</string>
		<string>feh-ar</string>
		<string>feh-ar.isol</string>
		<string>feh-ar.init</string>
		<string>veh-ar</string>
		<string>veh-ar.isol</string>
		<string>veh-ar.init</string>
		<string>fehDotless-ar</string>
		<string>fehDotless-ar.init</string>
		<string>qaf-ar.init</string>
		<string>kaf-ar</string>
		<string>kaf-ar.isol</string>
		<string>ng-ar</string>
		<string>ng-ar.isol</string>
		<string>lam-ar.init</string>
		<string>lamVabove-ar.init</string>
		<string>meem-ar</string>
		<string>meem-ar.isol</string>
		<string>meem-ar.init</string>
		<string>noon-ar.init</string>
		<string>noonRing-ar.init</string>
		<string>heh-ar</string>
		<string>heh-ar.isol</string>
		<string>heh-ar.init</string>
		<string>hehHamzaabove-ar</string>
		<string>hehHamzaabove-ar.isol</string>
		<string>hehgoal-ar</string>
		<string>hehgoal-ar.isol</string>
		<string>hehgoalHamzaabove-ar</string>
		<string>hehgoalHamzaabove-ar.isol</string>
		<string>hehDoachashmee-ar</string>
		<string>hehDoachashmee-ar.isol</string>
		<string>hehDoachashmee-ar.init</string>
		<string>tehMarbuta-ar</string>
		<string>tehMarbuta-ar.isol</string>
		<string>tehMarbutagoal-ar</string>
		<string>tehMarbutagoal-ar.isol</string>
		<string>ae-ar</string>
		<string>ae-ar.isol</string>
		<string>lam_alef-ar</string>
		<string>lam_alefHamzaabove-ar</string>
		<string>lam_alefHamzabelow-ar</string>
		<string>lam_alefMadda-ar</string>
		<string>lam_alefWasla-ar</string>
	</array>
	<key>@MMK_R_k</key>
	<array>
		<string>theh-ar.init</string>
		<string>kaf-ar.init</string>
		<string>keheh-ar</string>
		<string>keheh-ar.isol</string>
		<string>keheh-ar.init</string>
		<string>gaf-ar</string>
		<string>gaf-ar.isol</string>
		<string>gaf-ar.init</string>
		<string>kafRing-ar</string>
		<string>kafRing-ar.isol</string>
		<string>kafRing-ar.init</string>
		<string>ng-ar.init</string>
		<string>hehgoalHamzaabove-ar.init</string>
		<string>yehHamzaabove-ar.init</string>
		<string>yehVabove-ar.init</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>reh-ar</string>
		<string>reh-ar.isol</string>
		<string>reh-ar.fina</string>
		<string>zain-ar</string>
		<string>zain-ar.isol</string>
		<string>zain-ar.fina</string>
		<string>rreh-ar</string>
		<string>rreh-ar.isol</string>
		<string>rreh-ar.fina</string>
		<string>rehRing-ar</string>
		<string>rehRing-ar.isol</string>
		<string>rehRing-ar.fina</string>
		<string>rehVbelow-ar</string>
		<string>rehVbelow-ar.isol</string>
		<string>rehVbelow-ar.fina</string>
		<string>rehDotbelowdotabove-ar</string>
		<string>rehDotbelowdotabove-ar.isol</string>
		<string>rehDotbelowdotabove-ar.fina</string>
		<string>jeh-ar</string>
		<string>jeh-ar.isol</string>
		<string>jeh-ar.fina</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>waw-ar</string>
		<string>waw-ar.isol</string>
	</array>
</dict>
</plist>
