<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>10</integer>
		<key>GSOffsetHorizontal</key>
		<integer>10</integer>
		<key>GSOffsetProportional</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>8</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>020FDE62-5533-4E0C-98E7-097025284E4F</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>dotlessbeh-ar</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>hamza-ar</string>
		<string>highhamza-ar</string>
		<string>hamza-ar.isol</string>
		<string>alef-ar</string>
		<string>alef-ar.isol</string>
		<string>alef-ar.fina</string>
		<string>alef-ar.short</string>
		<string>alef-ar.fina.short</string>
		<string>alefHamzaabove-ar</string>
		<string>alefHamzaabove-ar.isol</string>
		<string>alefHamzaabove-ar.fina</string>
		<string>alefHamzabelow-ar</string>
		<string>alefHamzabelow-ar.isol</string>
		<string>alefHamzabelow-ar.fina</string>
		<string>alefMadda-ar</string>
		<string>alefMadda-ar.isol</string>
		<string>alefMadda-ar.fina</string>
		<string>alefWasla-ar</string>
		<string>alefWasla-ar.isol</string>
		<string>alefWasla-ar.fina</string>
		<string>behDotless-ar</string>
		<string>behDotless-ar.fina</string>
		<string>behDotless-ar.medi</string>
		<string>behDotless-ar.init</string>
		<string>beh-ar</string>
		<string>beh-ar.isol</string>
		<string>beh-ar.fina</string>
		<string>beh-ar.medi</string>
		<string>beh-ar.init</string>
		<string>peh-ar</string>
		<string>peh-ar.isol</string>
		<string>peh-ar.fina</string>
		<string>peh-ar.medi</string>
		<string>peh-ar.init</string>
		<string>alefMaksura-ar.medi</string>
		<string>alefMaksura-ar.init</string>
		<string>teh-ar</string>
		<string>teh-ar.isol</string>
		<string>teh-ar.fina</string>
		<string>teh-ar.medi</string>
		<string>teh-ar.init</string>
		<string>tehRing-ar</string>
		<string>tehRing-ar.isol</string>
		<string>tehRing-ar.fina</string>
		<string>tehRing-ar.medi</string>
		<string>tehRing-ar.init</string>
		<string>theh-ar</string>
		<string>theh-ar.isol</string>
		<string>theh-ar.fina</string>
		<string>theh-ar.medi</string>
		<string>theh-ar.init</string>
		<string>tteh-ar</string>
		<string>tteh-ar.isol</string>
		<string>tteh-ar.fina</string>
		<string>tteh-ar.medi</string>
		<string>tteh-ar.init</string>
		<string>jeem-ar</string>
		<string>jeem-ar.isol</string>
		<string>jeem-ar.fina</string>
		<string>jeem-ar.medi</string>
		<string>jeem-ar.init</string>
		<string>tcheh-ar</string>
		<string>tcheh-ar.isol</string>
		<string>tcheh-ar.fina</string>
		<string>tcheh-ar.medi</string>
		<string>tcheh-ar.init</string>
		<string>hah-ar</string>
		<string>hah-ar.isol</string>
		<string>hah-ar.fina</string>
		<string>hah-ar.medi</string>
		<string>hah-ar.init</string>
		<string>hahHamzaabove-ar</string>
		<string>hahHamzaabove-ar.isol</string>
		<string>hahHamzaabove-ar.fina</string>
		<string>hahHamzaabove-ar.medi</string>
		<string>hahHamzaabove-ar.init</string>
		<string>hahThreedotsabove-ar</string>
		<string>hahThreedotsabove-ar.isol</string>
		<string>hahThreedotsabove-ar.fina</string>
		<string>hahThreedotsabove-ar.medi</string>
		<string>hahThreedotsabove-ar.init</string>
		<string>khah-ar</string>
		<string>khah-ar.isol</string>
		<string>khah-ar.fina</string>
		<string>khah-ar.medi</string>
		<string>khah-ar.init</string>
		<string>dal-ar</string>
		<string>dal-ar.isol</string>
		<string>dal-ar.fina</string>
		<string>thal-ar</string>
		<string>thal-ar.isol</string>
		<string>thal-ar.fina</string>
		<string>ddal-ar</string>
		<string>ddal-ar.isol</string>
		<string>ddal-ar.fina</string>
		<string>dalRing-ar</string>
		<string>dalRing-ar.isol</string>
		<string>dalRing-ar.fina</string>
		<string>dul-ar</string>
		<string>dul-ar.isol</string>
		<string>dul-ar.fina</string>
		<string>dalVinvertedabove-ar</string>
		<string>dalVinvertedabove-ar.isol</string>
		<string>dalVinvertedabove-ar.fina</string>
		<string>reh-ar</string>
		<string>reh-ar.isol</string>
		<string>reh-ar.fina</string>
		<string>zain-ar</string>
		<string>zain-ar.isol</string>
		<string>zain-ar.fina</string>
		<string>rreh-ar</string>
		<string>rreh-ar.isol</string>
		<string>rreh-ar.fina</string>
		<string>rehRing-ar</string>
		<string>rehRing-ar.isol</string>
		<string>rehRing-ar.fina</string>
		<string>rehVbelow-ar</string>
		<string>rehVbelow-ar.isol</string>
		<string>rehVbelow-ar.fina</string>
		<string>rehDotbelowdotabove-ar</string>
		<string>rehDotbelowdotabove-ar.isol</string>
		<string>rehDotbelowdotabove-ar.fina</string>
		<string>jeh-ar</string>
		<string>jeh-ar.isol</string>
		<string>jeh-ar.fina</string>
		<string>seen-ar</string>
		<string>seen-ar.isol</string>
		<string>seen-ar.fina</string>
		<string>seen-ar.medi</string>
		<string>seen-ar.init</string>
		<string>seenDotbelowDotabove-ar</string>
		<string>seenDotbelowDotabove-ar.isol</string>
		<string>seenDotbelowDotabove-ar.fina</string>
		<string>seenDotbelowDotabove-ar.medi</string>
		<string>seenDotbelowDotabove-ar.init</string>
		<string>sheen-ar</string>
		<string>sheen-ar.isol</string>
		<string>sheen-ar.fina</string>
		<string>sheen-ar.medi</string>
		<string>sheen-ar.init</string>
		<string>sad-ar</string>
		<string>sad-ar.isol</string>
		<string>sad-ar.fina</string>
		<string>sad-ar.medi</string>
		<string>sad-ar.init</string>
		<string>dad-ar</string>
		<string>dad-ar.isol</string>
		<string>dad-ar.fina</string>
		<string>dad-ar.medi</string>
		<string>dad-ar.init</string>
		<string>tah-ar</string>
		<string>tah-ar.isol</string>
		<string>tah-ar.fina</string>
		<string>tah-ar.medi</string>
		<string>tah-ar.init</string>
		<string>zah-ar</string>
		<string>zah-ar.isol</string>
		<string>zah-ar.fina</string>
		<string>zah-ar.medi</string>
		<string>zah-ar.init</string>
		<string>ain-ar</string>
		<string>ain-ar.isol</string>
		<string>ain-ar.fina</string>
		<string>ain-ar.medi</string>
		<string>ain-ar.init</string>
		<string>ghain-ar</string>
		<string>ghain-ar.isol</string>
		<string>ghain-ar.fina</string>
		<string>ghain-ar.medi</string>
		<string>ghain-ar.init</string>
		<string>feh-ar</string>
		<string>feh-ar.isol</string>
		<string>feh-ar.fina</string>
		<string>feh-ar.medi</string>
		<string>feh-ar.init</string>
		<string>veh-ar</string>
		<string>veh-ar.isol</string>
		<string>veh-ar.fina</string>
		<string>veh-ar.medi</string>
		<string>veh-ar.init</string>
		<string>fehDotless-ar</string>
		<string>fehDotless-ar.fina</string>
		<string>fehDotless-ar.medi</string>
		<string>fehDotless-ar.init</string>
		<string>qafDotless-ar</string>
		<string>qafDotless-ar.fina</string>
		<string>qaf-ar</string>
		<string>qaf-ar.isol</string>
		<string>qaf-ar.fina</string>
		<string>qaf-ar.medi</string>
		<string>qaf-ar.init</string>
		<string>dotlesskaf-ar</string>
		<string>dotlesskaf-ar.fina</string>
		<string>kaf-ar</string>
		<string>kaf-ar.isol</string>
		<string>kaf-ar.fina</string>
		<string>kaf-ar.medi</string>
		<string>kaf-ar.init</string>
		<string>keheh-ar</string>
		<string>keheh-ar.isol</string>
		<string>keheh-ar.fina</string>
		<string>keheh-ar.medi</string>
		<string>keheh-ar.init</string>
		<string>gaf-ar</string>
		<string>gaf-ar.isol</string>
		<string>gaf-ar.fina</string>
		<string>gaf-ar.medi</string>
		<string>gaf-ar.init</string>
		<string>kafRing-ar</string>
		<string>kafRing-ar.isol</string>
		<string>kafRing-ar.fina</string>
		<string>kafRing-ar.medi</string>
		<string>kafRing-ar.init</string>
		<string>ng-ar</string>
		<string>ng-ar.isol</string>
		<string>ng-ar.fina</string>
		<string>ng-ar.medi</string>
		<string>ng-ar.init</string>
		<string>lam-ar</string>
		<string>lam-ar.isol</string>
		<string>lam-ar.fina</string>
		<string>lam-ar.medi</string>
		<string>lam-ar.init</string>
		<string>lamVabove-ar</string>
		<string>lamVabove-ar.isol</string>
		<string>lamVabove-ar.fina</string>
		<string>lamVabove-ar.medi</string>
		<string>lamVabove-ar.init</string>
		<string>meem-ar</string>
		<string>meem-ar.isol</string>
		<string>meem-ar.fina</string>
		<string>meem-ar.medi</string>
		<string>meem-ar.init</string>
		<string>noon-ar</string>
		<string>noon-ar.isol</string>
		<string>noon-ar.fina</string>
		<string>noon-ar.medi</string>
		<string>noon-ar.init</string>
		<string>noonghunna-ar</string>
		<string>noonghunna-ar.fina</string>
		<string>noonRing-ar</string>
		<string>noonRing-ar.isol</string>
		<string>noonRing-ar.fina</string>
		<string>noonRing-ar.medi</string>
		<string>noonRing-ar.init</string>
		<string>heh-ar</string>
		<string>heh-ar.isol</string>
		<string>heh-ar.fina</string>
		<string>heh-ar.medi</string>
		<string>heh-ar.init</string>
		<string>hehHamzaabove-ar</string>
		<string>hehHamzaabove-ar.isol</string>
		<string>hehHamzaabove-ar.fina</string>
		<string>hehgoal-ar</string>
		<string>hehgoal-ar.isol</string>
		<string>hehgoal-ar.fina</string>
		<string>hehgoal-ar.medi</string>
		<string>hehgoal-ar.init</string>
		<string>hehgoalHamzaabove-ar</string>
		<string>hehgoalHamzaabove-ar.isol</string>
		<string>hehgoalHamzaabove-ar.fina</string>
		<string>hehgoalHamzaabove-ar.medi</string>
		<string>hehgoalHamzaabove-ar.init</string>
		<string>hehDoachashmee-ar</string>
		<string>hehDoachashmee-ar.isol</string>
		<string>hehDoachashmee-ar.fina</string>
		<string>hehDoachashmee-ar.medi</string>
		<string>hehDoachashmee-ar.init</string>
		<string>tehMarbuta-ar</string>
		<string>tehMarbuta-ar.isol</string>
		<string>tehMarbuta-ar.fina</string>
		<string>tehMarbutagoal-ar</string>
		<string>tehMarbutagoal-ar.isol</string>
		<string>tehMarbutagoal-ar.fina</string>
		<string>waw-ar</string>
		<string>waw-ar.isol</string>
		<string>waw-ar.fina</string>
		<string>wawring-ar</string>
		<string>wawring-ar.isol</string>
		<string>wawring-ar.fina</string>
		<string>wawTwodots-ar</string>
		<string>wawTwodots-ar.isol</string>
		<string>wawTwodots-ar.fina</string>
		<string>wawHamzaabove-ar</string>
		<string>wawHamzaabove-ar.isol</string>
		<string>wawHamzaabove-ar.fina</string>
		<string>oe-ar</string>
		<string>oe-ar.isol</string>
		<string>oe-ar.fina</string>
		<string>u-ar</string>
		<string>u-ar.isol</string>
		<string>u-ar.fina</string>
		<string>yu-ar</string>
		<string>yu-ar.isol</string>
		<string>yu-ar.fina</string>
		<string>ve-ar</string>
		<string>ve-ar.isol</string>
		<string>ve-ar.fina</string>
		<string>alefMaksura-ar</string>
		<string>alefMaksura-ar.isol</string>
		<string>alefMaksura-ar.fina</string>
		<string>yeh-ar</string>
		<string>yeh-ar.isol</string>
		<string>yeh-ar.fina</string>
		<string>yeh-ar.medi</string>
		<string>yeh-ar.init</string>
		<string>yehHamzaabove-ar</string>
		<string>yehHamzaabove-ar.isol</string>
		<string>yehHamzaabove-ar.fina</string>
		<string>yehHamzaabove-ar.medi</string>
		<string>yehHamzaabove-ar.init</string>
		<string>yehVabove-ar</string>
		<string>yehVabove-ar.isol</string>
		<string>yehVabove-ar.fina</string>
		<string>yehVabove-ar.medi</string>
		<string>yehVabove-ar.init</string>
		<string>yeh-farsi</string>
		<string>yeh-farsi.isol</string>
		<string>yeh-farsi.fina</string>
		<string>yeh-farsi.medi</string>
		<string>yeh-farsi.init</string>
		<string>yehTail-ar</string>
		<string>yehTail-ar.isol</string>
		<string>yehTail-ar.fina</string>
		<string>e-ar</string>
		<string>e-ar.isol</string>
		<string>e-ar.fina</string>
		<string>e-ar.medi</string>
		<string>e-ar.init</string>
		<string>yehbarree-ar</string>
		<string>yehbarree-ar.isol</string>
		<string>yehbarree-ar.fina</string>
		<string>yehbarree-ar.fina.001</string>
		<string>yehbarreeHamzaabove-ar</string>
		<string>yehbarreeHamzaabove-ar.isol</string>
		<string>yehbarreeHamzaabove-ar.fina</string>
		<string>ae-ar</string>
		<string>ae-ar.isol</string>
		<string>ae-ar.fina</string>
		<string>kashida-ar</string>
		<string>lam_alef-ar</string>
		<string>lam_alef-ar.fina</string>
		<string>lam_alefHamzaabove-ar</string>
		<string>lam_alefHamzaabove-ar.fina</string>
		<string>lam_alefHamzabelow-ar</string>
		<string>lam_alefHamzabelow-ar.fina</string>
		<string>lam_alefMadda-ar</string>
		<string>lam_alefMadda-ar.fina</string>
		<string>lam_alefWasla-ar</string>
		<string>lam_alefWasla-ar.fina</string>
		<string>beh_alef-ar</string>
		<string>beh_alef-ar.isol</string>
		<string>peh_alef-ar</string>
		<string>peh_alef-ar.isol</string>
		<string>yeh_alef-ar</string>
		<string>yeh_alef-ar.isol</string>
		<string>yeh-farsi_alef-ar</string>
		<string>yeh-farsi_alef-ar.isol</string>
		<string>allah-ar</string>
		<string>decimalseparator-ar</string>
		<string>thousandseparator-ar</string>
		<string>zero-ar</string>
		<string>one-ar</string>
		<string>two-ar</string>
		<string>three-ar</string>
		<string>four-ar</string>
		<string>five-ar</string>
		<string>six-ar</string>
		<string>seven-ar</string>
		<string>eight-ar</string>
		<string>nine-ar</string>
		<string>zero-persian</string>
		<string>one-persian</string>
		<string>two-persian</string>
		<string>three-persian</string>
		<string>four-persian</string>
		<string>five-persian</string>
		<string>six-persian</string>
		<string>seven-persian</string>
		<string>eight-persian</string>
		<string>nine-persian</string>
		<string>four-persian.urdu</string>
		<string>six-persian.urdu</string>
		<string>seven-persian.urdu</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>numbersign</string>
		<string>period</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>hyphen</string>
		<string>hyphentwo</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>asteriskArt-ar</string>
		<string>fullstop-ar</string>
		<string>comma-ar</string>
		<string>semicolon-ar</string>
		<string>question-ar</string>
		<string>asterisk-ar</string>
		<string>endofayah-ar</string>
		<string>parenleft-ar</string>
		<string>parenright-ar</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthspace</string>
		<string>lefttorightmark</string>
		<string>righttoleftmark</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>lefttorightembedding</string>
		<string>lefttorightoverride</string>
		<string>popdirectionalformatting</string>
		<string>righttoleftembedding</string>
		<string>righttoleftoverride</string>
		<string>zeroWidthNoBreakSpace</string>
		<string>afghani-ar</string>
		<string>rial</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>asciitilde</string>
		<string>dottedCircle</string>
		<string>whiteStar.circled</string>
		<string>at</string>
		<string>degree</string>
		<string>bar</string>
		<string>asciicircum</string>
		<string>lowringmod</string>
		<string>sajdah-ar</string>
		<string>percent-ar</string>
		<string>perthousand-ar</string>
		<string>pertenthousand-ar</string>
		<string>caron</string>
		<string>tahabove-ar</string>
		<string>alefLamYehabove-ar</string>
		<string>dotabove-ar</string>
		<string>dotbelow-ar</string>
		<string>dotcenter-ar</string>
		<string>twodotsverticalabove-ar</string>
		<string>twodotsverticalbelow-ar</string>
		<string>twodotshorizontalabove-ar</string>
		<string>twodotshorizontalbelow-ar</string>
		<string>threedotsdownabove-ar</string>
		<string>threedotsdownbelow-ar</string>
		<string>threedotsdowncenter-ar</string>
		<string>threedotsupabove-ar</string>
		<string>threedotsupbelow-ar</string>
		<string>fourdotsabove-ar</string>
		<string>fourdotsbelow-ar</string>
		<string>ringbelow-ar</string>
		<string>wasla-ar</string>
		<string>ringcenter-ar</string>
		<string>alefabove-ar</string>
		<string>alefbelow-ar</string>
		<string>hamzaabove-ar</string>
		<string>hamzabelow-ar</string>
		<string>hamzacenter-ar</string>
		<string>hamzaaboveDamma-ar</string>
		<string>hamzaaboveDammatan-ar</string>
		<string>hamzaaboveFatha-ar</string>
		<string>hamzaaboveFathatan-ar</string>
		<string>hamzaaboveSukun-ar</string>
		<string>hamzabelowKasra-ar</string>
		<string>hamzabelowKasratan-ar</string>
		<string>fathatan-ar</string>
		<string>dammatan-ar</string>
		<string>kasratan-ar</string>
		<string>fatha-ar</string>
		<string>damma-ar</string>
		<string>kasra-ar</string>
		<string>shadda-ar</string>
		<string>sukun-ar</string>
		<string>madda-ar</string>
		<string>shaddaAlefabove-ar</string>
		<string>shaddaDamma-ar</string>
		<string>shaddaDammatan-ar</string>
		<string>shaddaFatha-ar</string>
		<string>shaddaFathatan-ar</string>
		<string>shaddaKasra-ar</string>
		<string>shaddaKasratan-ar</string>
		<string>noonghunnaabove-ar</string>
		<string>vabove-ar</string>
		<string>vbelow-ar</string>
		<string>vinvertedabove-ar</string>
		<string>sadLamAlefMaksuraabove-ar</string>
		<string>qafLamAlefMaksuraabove-ar</string>
		<string>dotlessbeh2-ar.init</string>
		<string>kafche-ar</string>
	</array>
</dict>
</plist>
